.business.authorization {
  @include profile-card;

  h2 {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  > div {
    justify-content: center;
    padding: $d-gutter-default;
  }

  #authorizationCode {
    cursor: pointer;
    display: block;
    font-size: font-size(7);
    font-weight: 100;
    position: relative;
    text-align: center;
  }

  .copy {
    background: none;
    bottom: 0;
    box-shadow: none;
    color: inherit;
    left: 0;
    margin: auto;
    pointer-events: none;
    position: absolute;
    right: -15em;
    top: 0;
  }
}
