.business.departments {
  @include profile-card;

  ul {
    list-style-type: none;
    padding: $d-gutter-default;
    margin: 0;
  }

  li {
    display: flex;
    flex-flow: row nowrap;

    &:not(:last-of-type) {
      margin-bottom: $d-gutter-default;
    }
  }

  input {
    min-width: 0;
    flex: 1 1 auto;
    margin-right: $d-gutter-default;
  }

  .add {
    margin-bottom: $d-gutter-default;
    margin-left: $d-gutter-default;
  }
}
