@import '{}/client/scss/components/Organization/Business/View/Authorization';
@import '{}/client/scss/components/Organization/Business/View/Departments';
@import '{}/client/scss/components/Organization/Business/View/Opportunities';
@import '{}/client/scss/components/Organization/Business/View/Information';
@import '{}/client/scss/components/Organization/Business/View/Invite';

.business.view {
  .sidebar {
    margin: 0 auto;
    position: relative;

    .remove {
      white-space: nowrap;
      max-width: 100%;
    }
  }
}

@include bp($b-tablet) {
  .business.view {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .sidebar {
      margin-left: 0;
    }
  }

  .business.information,
  .business.opportunities,
  .business.invite {
    flex: 1 1 calc(#{(1 / $phi) * 100}% - #{$d-gutter-default});
    margin-right: $d-gutter-default;
  }

  .admin.button {
    display: block;
    margin-bottom: $d-gutter-default;
    width: 100%;
  }

  .sidebar {
    $width: calc(#{(1 / $phi / $phi) * 100}% - #{$d-gutter-default});
    flex: 1 1 $width;
    max-width: $width;
  }
}
