.business.information {
  @include profile-card;
  margin: 0 auto $d-gutter-default;
  max-width: $d-card-max;

  label[for='address'] {
    padding-bottom: 0;

    .legend {
      flex: 1 1 100%;
    }

    input {
      flex: 1 1 auto;
      margin-bottom: $d-gutter-default;
    }
  }
}

@include bp($b-tablet) {
  .business.information {
    margin-left: 0;
    margin-right: $d-gutter-default;
    max-width: #{percentage((1 / $phi) * 100)};
  }
}
