.business.invite {
  @include profile-card;
  margin: 0;
  max-width: $d-card-double;

  form {
    padding: $d-gutter-default;
  }

  label[for='emails'],
  label[for='message'],
  a.preview {
    display: block;
    width: 100%;
  }

  a.preview {
    cursor: pointer;
    text-decoration: underline;
  }

  #emails,
  #message,
  a.preview {
    margin-bottom: $d-gutter-default;
    width: 100%;
  }
}

@include bp($b-tablet) {
  .business.invite {
    max-width: #{percentage((1 / $phi) * 100)};
  }
}
