.business.opportunities {
  @include profile-card;
  margin: 0 0 $d-gutter-default;
  max-width: $d-card-double;

  p {
    padding: 0 $d-gutter-default;
  }

  fieldset > div {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    legend {
      flex: 1 1 auto;
    }

    > label {
      flex: 0 1 1rem;
    }

    .Select {
      flex: 1 1 100%;
    }
  }

  fieldset[name='careerDay'] {
    .Select {
      margin-bottom: $d-gutter-default;
    }
  }

  label[for='adminRepresentative'] {
    min-width: 15rem;
  }
}

@include bp($b-tablet) {
  .business.opportunities {
    max-width: #{percentage((1 / $phi) * 100)};
  }
}
