<head>
  <meta charSet="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="manifest" href="/cc_manifest.json" />
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>-->
  <noscript>
    <style>
    body:after {
      bottom: 0;
      content: 'This application requires JavaScript to run.';
      display: block;
      left: 0;
      margin: auto;
      padding: 1rem;
      position: absolute;
      right: 0;
      top: 0;
    }
    </style>
  </noscript>
</head>

<body>
  <div id="react-root"></div>
</body>
