@import '{}/client/scss/components/User/Caseworker/View/Availability';
@import '{}/client/scss/components/User/Caseworker/View/Opportunities';
@import '{}/client/scss/components/User/Caseworker/View/Profile';

.user.view {
  padding: $d-gutter-default;

  .sidebar {
    margin: 0 auto;
    max-width: $d-card-max;
  }

  > form {
    @include staggered-entry(5);
  }

  form.user {
    @include profile-card;
    max-width: $d-card-max;

    > label {
      .value {
        font-weight: normal !important
      }
      textarea {
        font-weight: normal !important
      }
      font-weight:bold;
      //width: 100%;
      //display: flex;
      //flex-flow: row wrap;
      //margin-bottom: $d-gutter-default;
    }
  }

  #organizationSearch {
    color: $c-gray--dark;
  }

  .affiliation {
    @include profile-card;
    max-width: $d-card-max;
  }

  label[for='resume'] .label {
    display: block;
    width: 100%;
  }

  fieldset[name='requestTypeIds'],
  fieldset[name='gradeGroups'] {
    width: 100%;
    > div {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      > label {
        display: flex;
        flex: 0 1 15rem;
        margin-bottom: #{$d-gutter-default / 2};

        label {
          order: -1;
          margin-right: #{$d-gutter-default / 2};
        }
      }
    }
    legend {
      // font-weight: bold;
      border-bottom: 1px solid $c-blue;
      flex: 1 1 100%;
      display: block;
      margin-bottom: $d-gutter-default;
    }
  }

  .requests {
    @include card;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    li {
      padding: $d-gutter-default;
    }
  }
}

.affiliation {
  @include card;
  margin-bottom: $d-gutter-default;
  position: relative;

  .Select {
    width: 100%;
  }

  .remove {
    position: absolute;
    right: -1rem;
    bottom: -1rem;
  }
}

button.create.organization {
  display: block;
  margin: 0 auto;
  max-width: $d-card-max;
  width: 100%;
}

.modal .user.wrapper {
  background-color: $c-white;
  padding: $d-gutter-default;

  .user.profile {
    display: flex;
    flex-flow: row wrap;

    > label {
      flex: 1 1 100%;
    }
  }

  .opportunitiesTable {
    width: 100%;
  }
}

@include bp($b-tablet) {
  .user.view {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;

    .sidebar {
      flex: 1 1 calc(38% - #{$d-gutter-default / 2});
      margin: 0;
      max-width: $d-card-max;
    }

    form.user,
    .affiliation {
      display: flex;
      flex: 1 1 calc(62% - #{$d-gutter-default / 2});
      flex-flow: row wrap;
      margin-left: 0;
      margin-right: $d-gutter-default;
      max-width: calc(62% - #{$d-gutter-default / 2});

      > label,
      .associateOrganization {
        flex: 1 1 50%;
      }
    }

    .opportunities {
      flex: 1 1 100%;
    }
  }
  button.create.organization {
    width: 100%;
    margin-left: 0;
    margin-right: $d-gutter-default;
    max-width: calc(62% - #{$d-gutter-default / 2});
  }

  button {
    margin-bottom: 1.0rem;
    margin-left: 1.0rem;
  }
}
