.caseworker.opportunities {
  @include profile-card;
  margin: 0 0 $d-gutter-default;
  max-width: $d-card-double;

  h2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .organization > label {
    margin-bottom: $d-gutter-default;
  }

  .add {
    margin-bottom: $d-gutter-default;
    margin-left: $d-gutter-default;
    margin-top: $d-gutter-default;
  }
}

.independent.caseworker.opportunities {
  .table-wrapper {
    padding: $d-gutter-default;
  }

  .opportunitiesTable {
    width: 100%;
  }
}

.organization__affiliation {
  padding: $d-gutter-default;

  h3 {
    align-content: center;
    align-items: center;
    border-bottom: $d-border-thick solid $c-orange;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-top: 0;
    padding-bottom: $d-gutter-narrow;

    .avatar {
      margin-right: $d-gutter-default;
    }
  }

  .organization {
    position: relative;
  }

  label {
    display: flex;
    width: 100%;
  }

  .opportunitiesTable {
    width: 100%;
  }

  input[name='titleAtOrganization'] {
    width: 100%;
  }
}

@include bp($b-laptop) {
  .organization__affiliation .organization {
    display: flex;
    flex-flow: column wrap;
    height: 44rem;

    label[for='department'],
    label[for='titleAtOrganization'],
    label[for='hoursAvailable'] {
      flex: 0 1 auto;
      padding-right: $d-gutter-default;
      width: 38%;
    }
    label[for='opportunities'] {
      flex: 1 1 100%;
      width: 62%;
    }
  }
}
