label[for=resume] {

  .text {
    @include card-shadow(1);
    background-color: $c-blue;
    color: $c-white;
    height: font-size(5);
    padding: 0 $d-gutter-tiny;
  }

  input {
    display: none;
  }

  .view {
    border-radius: 50%;
  }
}
