
ul.search.list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 0;
  padding: $d-gutter-default;

  a {
    text-decoration: none;
  }

  li {
    @include card;
    @include staggered-entry;
    background-color: $c-white;
    cursor: pointer;
    flex: 1 1 100%;
    margin-bottom: $d-gutter-default;
    position: relative;

    h2 {
      margin-bottom: #{$d-gutter-default / 2};
    }

    label {
      margin: 0 auto $d-gutter-default;
      padding: 0 $d-gutter-default;
    }

    .remove {
      bottom: $d-gutter-default;
      position: absolute;
      right: $d-gutter-default;
    }
  }

  .new {
    @include spirit-box;
    align-content: center;
    align-items: center;
    background: transparent;
    box-shadow: none;
    color: $c-gray--dark;
    display: flex;
    flex-flow: row wrap;
    height: 10rem;
    justify-content: center;
  }
}

.adminTable {
  .time {
    width: 10%;
  }
  .user {
    width: 15%;
  }
  .numberOfResults {
    width: 10%;
  }
  .requestTypeId {
    width: 15%;
  }
  .industrySectorIds {
    width: 30%;
  }
  .gradeGroupsSelected {
    width: 20%;
  }
}




@include bp($b-tablet) {
  ul.search.list {
    li {
      flex: 0 1 $d-card-max;
      margin-right: $d-gutter-default;
    }
  }
}
