.search.new {
  padding: 0 $d-gutter-default $d-gutter-default;

  .search.dashboard {
    margin: 0 #{$d-gutter-default * -1};

    .dashboard-icon {
      @include staggered-entry(12);
    }
  }

  h1 {
    flex: 1 1 100%;
  }

  p {
    flex: 1 1 100%;
    text-align: left;
  }

  .searchResults {
    @include card-shadow(1);
    flex: 1 1 100%;
    background-color: $c-white;
  }

  .controls {
    .filter,
    .sort {
      width: 100%;
      display: block;
    }

    label {
      display: block;
      margin-bottom: $d-gutter-default;
    }
  }

  #search {
    height: 3rem;
    padding: $d-gutter-default;
    width: 100%;
  }

  label[for='gradeLevels'],
  label[for='industrySectorIds'] {
    padding: 0 $d-gutter-default;
  }

  fieldset.sort {
    background-color: $c-gray;
  }

  button.sort {
    background: transparent;
    box-shadow: none;
    color: $c-black;
  }

  ol {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      border-bottom: 1px solid $c-gray;
      padding: 0.5rem $d-gutter-default;
    }
  }

  .result {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;

    .avatar {
      margin-right: $d-gutter-default;
    }

    .name,
    .industry {
      white-space: nowrap;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
      flex: 1 1 100%;
    }

    button {
      margin-left: auto;
    }
  }

  .request.new.body {
    margin-top: $d-gutter-default;
  }
}

.pager {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: #{$d-gutter-default / 2} $d-gutter-default;

  label[for='pageLength'] {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    margin-bottom: $d-gutter-default;

    > span {
      font-size: font-size(-1);
      color: $c-gray--dark;
    }

    .Select {
      flex: 1 1 auto;
    }
  }
  .pager-label {
    margin-right: auto;
    font-size: font-size(-1);
    color: $c-gray--dark;
  }
}

@include bp($b-tablet) {
  .search.new {
    padding-bottom: 8rem; // To account for select overflow
    form {
      display: flex;
      flex-flow: row wrap;

      > label {
        flex: 1 1 50%;

        > input,
        > .Select,
        > .rdt {
          margin-top: $d-gutter-default;
          width: 100%;
        }
      }
    }

    .controls {
      .filter {
        padding: $d-gutter-default;
        display: flex;
        flex-flow: row nowrap;
      }

      label {
        margin-bottom: 0;
      }
    }

    label[for='search'] {
      flex: 0 1 auto;
      order: 3;
      margin-right: 0;
      margin-left: auto;
    }

    label[for='gradeLevels'],
    label[for='industrySectorIds'] {
      display: flex;
      flex-flow: row nowrap;
      align-content: center;
      align-items: center;
      padding: 0;
      margin-right: $d-gutter-default;

      > span,
      .Select-control {
        font-size: font-size(-1);
      }

      .Select {
        flex: 1 1 6rem;
      }
    }

    label[for='gradeLevels'] {
      flex: 0 1 12.5rem;
    }

    label[for='industrySectorIds'] {
      flex: 1 1 15rem;
    }

    label[for='title'],
    label[for='requestTypeId'] {
      flex: 1 1 100%;
    }

    .result {
      flex-wrap: nowrap;

      .name,
      .industry {
        flex: 1 1 25%;
      }
    }
  }

  .pager {
    flex-wrap: nowrap;
    label[for='pageLength'] {
      flex-basis: 11rem;
      flex-grow: 0;
      margin-left: auto;
      margin-bottom: 0;
      margin-right: $d-gutter-default;
      .Select {
        flex: 1 1 auto;
      }
    }
    .pager-label {
      margin-right: 0;
    }
  }
}

.dashboard-icon.requestType {
  &.guestSpeaker {
    background-color: $c-orange;
  }
  &.mockInterview {
    background-color: $c-red;
  }
  &.resumeCoach {
    background-color: $c-blue;
  }
  &.jobShadowing {
    background-color: $c-gray--dark;
  }
  &.workplaceTour {
    background-color: $c-blue--dark;
  }
  &.classroomReader {
    background-color: $c-green;
  }
  &.careerDay {
    background-color: $c-gray;
    color: $c-gray--dark;
  }
}
