.search.subHeader {
  .instance {
    padding: 1rem 0;
  }
  form {
    display: flex;
    flex-flow: row wrap;
  }

  label {
    flex: 1 1 100%;
    line-height: font-size(5);
  }

  input,
  .Select {
    @include card-shadow(1);
    @include input-gray;
    width: 100%;
  }

  .Select-input input {
    background: transparent;
    box-shadow: none;
  }

  label[for='duration.times'] fieldset {
    @include card-shadow(1);
    @include input-gray;

    input {
      background-color: none;
      box-shadow: none;
    }

    > div {
      display: flex;
      flex-flow: row nowrap;

      > div {
        flex: 1 1 50%;
      }
    }
  }

  .rdt {
    color: $c-black;
  }
}

.search.view.body {
  padding: $d-gutter-default;
  position: relative;

  .results {
    @include card-shadow(1);
    background-color: $c-white;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      @include staggered-entry(20);
    }
  }

  .initiate {
    position: sticky;
    bottom: 0;
    width: 100%;
    margin-top: $d-gutter-default;
  }

  .resultHeader {
    @include card-shadow(1);
    background-color: $c-white;
    margin-bottom: $d-gutter-default;
    @supports (position: sticky) {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      // top: #{$d-header-height + $d-gutter-default};
    }
    z-index: $z-higher;

    .avatar {
      width: $d-avatar-size;
    }

    .filter {
      color: $c-orange;
      flex: 1 1 100%;
      font-size: font-size(-1);
      justify-content: flex-start;
      overflow: visible;
      padding: 0;

      .checkbox {
        color: $c-black;
        font-size: font-size(-1);
        margin-left: $d-gutter-tiny;
      }
    }
  }
}

.search.result,
.resultHeader {
  align-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  padding: $d-gutter-default $d-gutter-default $d-gutter-default 0;

  span {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;
    padding: #{$d-gutter-default / 2};
    text-overflow: ellipsis;
    white-space: nowrap;

    &:empty {
      padding: 0;
    }
  }

  .select {
    flex: 0 1 3rem;
    padding-left: $d-gutter-default;

    &::after {
      display: none;
    }
  }

  .name {
    flex: 1 1 5rem;
  }

  .affiliations {
    flex: 1 1 8rem;
  }

  .areasOfExpertise {
    flex: 1 1 15rem;
  }

  .hoursAvailable {
    flex: 1 1 5rem;
    // justify-content: flex-end;
    // text-align: right;

    &::after {
      display: none;
    }
  }
}

.search.result {
  transition: $a-timing-default background-color $a-duration-default, $a-timing-default color,
    $a-duration-default;

  &.selected {
    background-color: $c-blue;
    color: $c-white;
  }

  &:hover {
    background-color: $c-gray;
    color: $c-blue;
  }
}

.search.volunteer.modal,
.search.business.modal {
  button.add,
  button.remove {
    border-radius: 0;
    cursor: pointer;
    margin-bottom: $d-gutter-wide;
    outline: none;
    width: 100%;
  }

  button {
    max-width: $d-card-max;
    margin: 0 auto;
    display: block;
    width: 100%;
  }
}

@include bp($b-tablet) {
  .search.subHeader {
    label[for='title'] {
      flex-basis: 100%;
    }

    label[for='duration.days'],
    label[for='duration.times'],
    label[for='gradeLevels'],
    label[for='requestTypeId'] {
      flex-basis: 50%;
    }

    label[for='duration.days'],
    label[for='gradeLevels'] {
      padding-right: #{$d-gutter-default / 2};
    }

    label[for='duration.times'],
    label[for='requestTypeId'] {
      padding-left: #{$d-gutter-default / 2};
    }
  }

  .search.view.body {
    .resultHeader {
      @supports (position: sticky) {
        // top: #{$d-breadcrumbs-height + $d-gutter-default};
      }
    }
  }
}
