.business.administration {
  max-width: $d-card-double;
  padding: $d-gutter-default;

  .departments {
    @include card-shadow(1);
    background-color: $c-white;
    list-style-type: none;
    margin: 0;
    padding: 0;

    h3 {
      background-color: $c-blue;
      color: $c-white;
      margin: 0;
      padding: $d-gutter-default;

      small {
        display: inline-block;
        margin-left: $d-gutter-tiny;
      }
    }
  }

  .employees {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      align-content: center;
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      padding: $d-gutter-default;
    }
  }

  .avatar,
  .name,
  .title {
    margin-right: $d-gutter-default;
  }

  .chips li {
    margin-top: #{$d-gutter-default / 2};
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
    margin-right: 0;
  }

  #addVolunteer {
    margin-top: $d-gutter-default;
  }
}

.modal .volunteer.add {
  background-color: $c-white;
  padding: $d-gutter-default;

  label[for='volunteerSearch'] {
    display: block;
    position: relative;
    // margin-bottom: $d-gutter-default;
  }

  #volunteerSearch {
    max-width: 100%;
  }

  #addVolunteer {
    margin-right: $d-gutter-default;
    width: 20rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: $d-gutter-default;
  }

  #cancelAdd {
    margin-top: $d-gutter-default;
  }

  .list--typeahead {
    background-color: $c-white;
    width: 100%;
    display: block;
  }
}

.modal .volunteer.edit {
  background-color: $c-white;
  padding: $d-gutter-default;

  label {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: $d-gutter-default;
    width: 100%;
  }

  input,
  .Select {
    flex: 1 1 auto;
    margin-left: $d-gutter-default;
  }

  .permissions {
    border-top: $d-border-thick solid $c-orange;
    padding: $d-gutter-default 0 0 0;
    margin: 0;

    legend {
      display: block;
      float: left;
      margin-bottom: $d-gutter-default;
      padding: 0;
      width: 100%;
    }
  }

  .checkbox {
    margin-bottom: 0;
    width: 1rem;
  }
}
