.adminTable.business {

  .avatar {
    flex-basis: 5rem;
    flex-grow: 0;
  }

  .name {
    flex-basis: 0;
    min-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .email {
    flex-basis: 0;
    min-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .createdAt {
    flex-basis: 7rem;
    flex-grow: 0;
  }

  .cpNumber {
    flex-basis: 5rem;
    flex-grow: 0;
  }

  .pickupDay {
    flex-basis: 7rem;
    flex-grow: 0;
  }

  .location {
    flex-basis: 10rem;
    flex-grow: 0;
  }


}

@media (min-width: 375px) and (max-width: 768px) {

  .avatar {
    display:none !important;
    flex-basis: 5rem;
    flex-grow: 0;
  }

  .email {
    display:none !important;
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .name {
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .createdAt {
    display:none !important;
    flex-basis: 7rem;
    flex-grow: 0;
  }

  .pickupDay {
    display:none !important;
    flex-basis: 7rem;
    flex-grow: 0;
  }

  .location {
    flex-basis: 4rem;
    flex-grow: 0;
  }

  .cpNumber {
    display:none !important;
    flex-basis: 5rem;
    flex-grow: 0;
  }

}

@include bp($b-tablet) {

  .avatar {
    flex-basis: 5rem;
    flex-grow: 0;
  }

  .name {
    flex-basis: 0;
    min-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .email {
    flex-basis: 0;
    min-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .createdAt {
    flex-basis: 7rem;
    flex-grow: 0;
  }

  .cpNumber {
    flex-basis: 5rem;
    flex-grow: 0;
  }

  .pickupDay {
    flex-basis: 7rem;
    flex-grow: 0;
  }

  .location {
    flex-basis: 10rem;
    flex-grow: 0;
  }

}