.business.reports {
  max-width: $d-card-double;
  padding: $d-gutter-default;

  .activities {
    @include card-shadow(1);
    background-color: $c-white;
  }

  header {
    position: relative;
    z-index: 0;

    .toggle {
      border-radius: 50%;
      background-color: $c-orange;
      bottom: 2rem;
      position: absolute;
      right: $d-gutter-default;
      z-index: $z-max;
    }

    &.visible {
      z-index: 999;
    }

    &.visible .filter {
      margin-top: 0;
    }

    &.hidden .filter {
      margin-top: -#{number(scale(4)) + 2}rem;
    }
  }

  h2 {
    background-color: $c-blue;
    color: $c-white;
    margin: 0;
    padding: $d-gutter-default;
    position: relative;
    z-index: $z-max;
  }

  .Select-control,
  .rdt > input {
    border-bottom-color: currentColor;
  }

  .filter {
    background-color: $c-orange;
    color: $c-white;
    display: flex;
    flex-flow: row nowrap;
    transition: $a-duration-default margin $a-timing-default;

    .Select {
      flex: 1 1 auto;
    }
  }

  .labels {
    border-bottom: 1px solid $c-gray;
  }

  .filter,
  .labels {
    padding: $d-gutter-default;
  }

  .name,
  .department,
  .hoursMatching,
  .date,
  .educator,
  .school,
  .type,
  .time,
  .feedback {
    display: inline-block;
    // max-width: 10rem;
    text-align: left;
    flex: 0 1 8rem;
    padding-right: $d-gutter-default;
  }

  fieldset.date > div {
    display: flex;
    flex-grow: 2;
    flex-flow: row nowrap;
    input {
      color: $c-white;
      margin: 0;
    }
    .rdt {
      color: $c-gray--dark;
    }
    .rdtDay {
      color: $c-black;
      font-weight: bold;

      &.rdtOld,
      &.rdtNew {
        color: $c-gray--dark;
        font-weight: normal;
      }
      &.rdtDisabled {
        color: $c-gray;
      }
    }
  }

  .name {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    width: 33%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 0 1 auto;

    .avatar {
      margin-right: $d-gutter-default;
      min-width: 3rem;
    }
  }

  .department {
    width: 33%;
  }

  .hoursMatching {
    width: 33%;
    text-align: right;
    margin-left: auto;
  }

  .employees {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      align-content: center;
      padding: $d-gutter-default;
      transition: $a-duration-default background-color $a-timing-default,
        $a-duration-default color $a-timing-default;
      background-color: transparent;
    }

    > li:hover,
    > li.active {
      color: $c-white;
      cursor: pointer;
    }

    > li:hover {
      background-color: $c-blue;
    }

    > li.active {
      background-color: $c-blue--dark;
      padding-bottom: 0;
    }
  }

  .employeeActivities {
    flex: 1 1 100%;
    list-style-type: none;
    margin: $d-gutter-default #{$d-gutter-default * -1} 0;
    padding: 0;

    li {
      background-color: $c-blue--dark;
      color: $c-white;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: $d-gutter-default;
    }

    .header {
      background-color: $c-orange;
    }
  }

  span.feedback {
    hyphens: auto;

    &,
    .feedback {
      padding: 0;
    }
    .feedback {
      width: 100%;
    }
    .comment {
      font-size: font-size(-1);
    }
    .comment,
    .rating {
      display: block;
      width: 100%;
    }
  }
}
