#inbox {
  list-style-type: none;
  margin: 0;
  padding: $d-gutter-default;

  > li {
    @include card-shadow(1);
    background-color: $c-white;
    margin-bottom: $d-gutter-default;

    &.unread {
      @include card-shadow(2);
      h2 {
        color: $c-white;
        background-color: $c-blue;
      }
    }

    &.active {
      h2 {
        border-bottom: 1px solid $c-gray;
      }
    }
  }

  h2 {
    align-content: center;
    align-items: center;
    color: $c-gray--dark;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    padding: $d-gutter-default;

    .count {
      background-color: $c-orange;
      border-radius: 50%;
      display: block;
      font-size: font-size(-1);
      height: font-size(2);
      line-height: font-size(2);
      margin-left: $d-gutter-default;
      margin-right: auto;
      opacity: 1;
      text-align: center;
      transition: $a-duration-default opacity $a-timing-default;
      width: font-size(2);

      &[data-count='0'] {
        opacity: 0;
      }
    }

    a {
      color: inherit;
      font-size: font-size(-1);
    }
  }

  .messages {
    list-style-type: none;
    margin: 0;
    padding: $d-gutter-default;
  }

  .description {
    padding: 0 $d-gutter-default;

    a {
      display: block;
      width: 100%;
    }
  }
}
