.message.view {

  display: flex;
  flex-flow: row nowrap;

  .avatar {
    margin-right: -#{$d-avatar-size / 2};
  }

  &.my .avatar {
    flex: 0 1 $d-avatar-size;
    margin-left: -#{$d-avatar-size / 2};
    margin-right: 0;
    order: 2;
  }


  article {
    background-color: $c-blue;
    border-radius: $d-radius-card;
    color: $c-white;
    flex: 1 1 10rem;
    padding: $d-gutter-narrow $d-gutter-default;
  }

  &.my article {
    background-color: $c-blue--dark;
  }

  .sender {
    display: block;
    margin-bottom: $d-gutter-default;
    padding-left: #{$d-avatar-size / 3};
    width: 100%;
  }

  &.my .sender {
    padding-left: 0;
    padding-right: #{$d-avatar-size / 3};
  }

  .name {
    color: $c-white;
    font-size: 1rem;
    margin-right: .25rem;
  }

  time {
    display: none;

    &.human {
      color: $c-gray;
      display: block;
      font-size: font-size(-1);
    }
  }
}
