.volunteer.availability {
  @include profile-card;

  .availability {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: $d-gutter-default;

    &:not(:last-of-type) {
      border-bottom: 1px solid $c-blue;
    }

    .rdt {
      flex: 1 1 calc(50% - 1rem);
      max-width: calc(50% - 2rem);
      order: 0;

      input {
        max-width: 100%;
      }
    }

    .remove {
      flex: 0 1 2rem;
      order: 1;
    }

    .daySelector {
      order: 2;
      padding: $d-gutter-default 0;
      width: 100%;
    }

    + .add {
      margin-top: 0;
    }
  }

  .add {
    margin-bottom: $d-gutter-default;
    margin-left: $d-gutter-default;
    margin-top: $d-gutter-default;
  }
}
