.opportunitiesTable {

  th {
    font-weight: normal;
    font-size: font-size(-1);
  }

  td {
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }

  td.name {
    font-size: font-size(-1);
    padding: $d-gutter-tiny $d-gutter-tiny $d-gutter-tiny 0;
    text-align: left;
  }

  tr.opportunityType {
    border-top: 1px solid $c-gray;
  }

  .row--subHeader + tr.opportunityType {
    border-top-color: $c-gray--dark;
  }

  .row--subHeader td {
    padding-bottom: $d-gutter-tiny;
    padding-top: $d-gutter-tiny;
  }

  .row--subHeader i {
    display: inline-block;
    margin-left: $d-gutter-tiny;
    font-size: font-size(-1);
  }

  .checkbox {
    margin: 0 auto;
  }

  &.disabled {
    .checkbox {
      cursor: default;
    }
  }

}
