.adminTable.caseworker {
  span.avatar {
    flex-basis: 4rem;
    flex-grow: 0;
  }

  span.name {
    flex-basis: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.createdAt {
    flex-basis: 4rem;
  }

  span.copy {
    flex-basis: 2rem;
  }

  span.areasOfExpertise {
    flex-basis: 4rem;
  }

  span.affiliations {
    flex-basis: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.availableForHowLong {
    flex-basis: 4rem;
  }

  span.email {
    flex-basis: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.averageRating {
    flex-basis: 4rem;
  }

  span.completedMatches {
    flex-basis: 4rem;
  }

}
