#conversationListWrapper {
  bottom: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  transform: translateY(0);
  transition: $a-duration-default transform $a-timing-default;
  width: $d-card-max;
  z-index: 99;

  &:empty {
    transform: translateY(100vw);
  }

  .message-count {
    @include card-shadow(1);
    background-color: $c-orange;
    border-radius: 1rem;
    color: $c-white;
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: $d-gutter-default;
    margin-left: auto;
    margin-right: $d-gutter-default;
    pointer-events: all;
    text-align: center;
    text-decoration: none;
    transform: translateX(0);
    transition: $a-duration-default transform $a-timing-default;
    width: 4rem;

    &[data-count='0'] {
      transform: translateX(100vw);
    }
  }

  .conversation.list {
    @include card-shadow(1);
    background-color: $c-white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    pointer-events: all;

    & > li {
      max-height: 100vh;
      overflow-y: scroll;

      &:not(:last-of-type) {
        border-bottom: 1px solid $c-gray;
      }
    }
  }

  .toggle {
    cursor: pointer;
    display: block;
    padding: $d-gutter-default;
    position: sticky;
    top: 0;

    &:hover {
      background-color: $c-blue;
      color: $c-white;
    }
  }

  .conversation.view {
    padding: $d-gutter-default;
  }
}
