.conversation.view {
  .message.new {
    margin-bottom: $d-gutter-default;
  }

  .quill {
    margin-bottom: $d-gutter-default;
  }

  .messages {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: $d-gutter-default;
    }
  }
}
