.user.card {
  @include card;
  max-width: $d-card-max;

  .profile {
    min-height: 12rem;
    padding: $d-gutter-default;

    .avatar {
      width: 10rem;
      height: 10rem;
      margin: 0 auto $d-gutter-default;
    }

    .name {
      display: none;
    }

    .phone {
      font-size: font-size(5);
      font-weight: lighter;
      margin-bottom: $d-gutter-default;
    }

    .value,
    .label {
      display: block;
      width: 100%;
    }

    .value {
      white-space: pre-line;
    }

    .label {
      font-size: font-size(-1);
    }

    .areasOfExpertiseIds,
    .educationLevel,
    .bio, active,
    .employmentStatus,
    .certifications,
    .volunteerExperience,
    .availability .value,
    .school,
    .grades,
    .subjects {
      display: block;
      margin-bottom: $d-gutter-default;
    }

    > span {
      display: block;
      width: 100%;
    }
  }
}

@include bp($b-tablet) {
  .user.card {
    .profile {
      .avatar {
        margin-right: 0;
        margin-left: $d-gutter-default;
        float: right;
      }
    }
  }
}
