$a-duration-default: .5s;

$a-timing-default: ease-in-out;

// Slow start, carried by momentum
$a-timing-physical: cubic-bezier(.37, 0, .22, 1);

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin staggered-entry ($max-children: 8) {
  animation-duration: $a-duration-default;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  opacity: 0;
  @for $i from 1 through $max-children {
    &:nth-of-type(#{$i}) {
      //animation-delay: #{$i * 0}ms;
    }
  }
}
