@mixin card {
  @include card-shadow(1);
  background-color: $c-white;

  h2 {
    background-color: $c-blue;
    color: $c-white;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    padding: 0.5rem $d-gutter-default;
    width: 100%;

    label {
      margin: 0;
    }

    a {
      color: inherit;
    }
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  > label,
  > fieldset {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    line-height: font-size(5);
    padding: $d-gutter-default;
    width: 100%;

    input {
      flex: 1 1 13rem;
      height: font-size(5);
    }

    label {
      display: inline-block;
      margin: 0;
    }
  }

  input[type='file'] {
    // @include hideFile;
  }
}

@mixin profile-card {
  @include card;
  margin: 0 auto $d-gutter-default;

  .main {
    flex: 1 1 calc(62% - #{$d-gutter-default / 2});
    margin-right: $d-gutter-default;
    max-width: $d-card-double;
  }

  .sidebar {
    flex: 1 1 calc(38% - #{$d-gutter-default / 2});
  }

  h2 {
    @include teal-header;
    overflow: hidden;
    //padding: 0 !important;
  }

  label {
    display: inline-block;
    margin: 0;
  }

  > label,
  > fieldset,
  .associateOrganization {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    line-height: font-size(5);
    padding: $d-gutter-default;
    width: 100%;

    input,
    .Select,
    textarea {
      flex: 1 1 100%;
      min-height: font-size(5);
    }

    label {
      display: flex !important;
      flex-flow: row nowrap;
      height: font-size(7);
      margin-bottom: $d-gutter-default;
      width: 100%;
    }

    //label {
    //  flex: 1 1 100%;
    //  display: flex;
    //  flex-flow: row nowrap;
    //  align-content: center;
    //  align-items: center;
    //  margin-bottom: $d-gutter-default;
    //
    //  > span {
    //    font-size: font-size(-1);
    //    color: $c-gray--dark;
    //  }
    //
    //  .Select {
    //    flex: 1 1 auto;
    //  }
    //}
    //.pager-label {
    //  margin-right: auto;
    //  font-size: font-size(-1);
    //  color: $c-gray--dark;
    //}
  }

  input[type='file'] {
    // @include hide-file;
  }
}

