.chips {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    background-color: $c-gray;
    border-radius: #{$phi / 2}rem;
    display: inline-block;
    font-size: font-size(-1);
    height: #{$phi}rem;
    line-height: #{$phi}rem;
    margin-bottom: #{$d-gutter-default / 2};
    margin-right: #{$d-gutter-default / 2};
    padding: 0 .5rem;
  }
}
