$c-teal: #4db6ac;

$c-teal--dark: #2e6f69;

$c-blue: #01538F;

//#7986cb; - indigo
//#2962ff; - darker but pretty bright blue
//#64b5f6; - this is pretty light blue

$c-blue--dark: #828282; // this is same as gray-dark for the moment

$c-gray: #e4e4e4;

$c-gray--dark: #828282;

$c-gray--dark2:  #828282; //#a5a4a4;

$c-gray--dark: #484748;

$c-red: #f44336;

$c-green: #4caf50;

$c-orange: #ff9800;

$c-black: #212121;

$c-white: #fff;

$c-facebook: #3b5998;

$c-volunteer: $c-blue;
$c-volunteer-contrast: $c-white;

$c-student: $c-orange;
$c-student-contrast: $c-white;

$c-educator: $c-white;
$c-educator-contrast: $c-blue;

$c-business: $c-black;
$c-business-contrast: $c-orange;

$c-school: $c-orange;
$c-school-contrast: $c-black;

$c-internship: mix($c-school, $c-business);
$c-internship-contrast: $c-white;

.mdi-facebook {
  color: $c-facebook;
}

$c-twitter: #1da1f2;

.mdi-twitter {
  color: $c-twitter;
}

$c-google-plus: #dd4b39;

.mdi-google-plus {
  color: $c-google-plus;
}
