$d-container-max: 60rem;

$d-media-mobile: 375px; //450px

// $d-media-mobile: 30rem;

$d-media-tablet: 768px;

// $d-media-tablet: 50rem;

$d-media-laptop: 960px;

// $d-media-laptop: 60rem;

$d-media-desktop: 1500px;

// $d-media-desktop: 95rem;

$b-mobile-max: '(max-width: #{$d-media-tablet})';

$b-mobile: '(min-width: #{$d-media-mobile})' ;

$b-tablet: '(min-width: #{$d-media-tablet})';

$b-laptop: '(min-width: #{$d-media-laptop})';

$b-desktop: '(min-width: #{$d-media-desktop})';

$d-radius-card: 2px;

$d-gutter-default: 1rem;

$d-gutter-narrow: $d-gutter-default / $phi;

$d-gutter-tiny: $d-gutter-narrow / $phi;

$d-gutter-wide: $d-gutter-default * $phi * $phi;

$d-nav-tablet: 13rem;

$d-nav-desktop: 17rem;

$d-card-max: 30rem;

$d-card-double: $d-card-max * 2 + $d-gutter-default;

$d-header-height: 5rem;

$d-breadcrumbs-height: font-size(9);

$d-border-thick: 0.25rem;

$d-avatar-size: 3rem;

@mixin bp($query) {
  @media all and #{$query} {
    @content;
  }
}
