/// Computes a top-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function top-shadow($depth, $inset: false) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba($c-black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color if($inset, inset, null);
}

/// Computes a bottom-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function bottom-shadow($depth, $inset: false) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba($c-black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color if($inset, inset, null);
}

@mixin card-shadow($depth: 1, $inset: false) {
  border-radius: $d-radius-card;
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card-shadow`.";
  } @else {
    box-shadow: bottom-shadow($depth, $inset), top-shadow($depth, $inset);
  }
}
