@function scale($scale) {
  $maximum: 5;
  @if $scale < 0 {
    $scale: abs($scale);
    @return #{1 - wop($phi, $maximum - $scale)};
  } @else if $scale == 0 {
    @return 1;
  } @else if $scale > $maximum {
    @return #{number(scale($scale - $maximum)) + 1};
  } @else {
    @return #{wop($phi, $maximum - $scale) + 1};
  }
}
@function font-size($scale) {
  @return scale($scale) + rem;
}

@mixin type-scale($scale) {
  @if $scale < 0 {
    font-weight: 400;
  }
  font-size: font-size($scale);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  @include type-scale(5);
}

h2 {
  @include type-scale(4);
}

h3 {
  @include type-scale(3);
}

h4 {
  @include type-scale(2);
}

h5 {
  @include type-scale(1);
}

h6 {
  @include type-scale(0);
}

p {
  @include type-scale(0);
  line-height: font-size(1);
}

small {
  @include type-scale(-1);
}

a {
  color: $c-blue;
}

@mixin teal-header {
  background-color: $c-blue;
  color: $c-white;
  font-weight: 100;
  margin: 0;
  padding: 0.5rem 1rem;
  width: 100%;

  @media print {
    background-color: transparent;
    color: $c-black;
  }
}
