@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin hide-file {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

@mixin spirit-box {
  border: 0.25rem dashed $c-gray--dark;

  a {
    color: inherit;
  }
}

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

.avatarUploader,
.mapUploader {
  @include card-shadow(1);
  background-color: $c-white;
  margin-bottom: $d-gutter-default;
  padding: $d-gutter-default;
  position: relative;

  label {
    @include card-shadow(1);
    align-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    height: 10rem;
    justify-content: center;

    i {
      flex: 1 1 100%;
      font-size: font-size(7);
      text-align: center;
    }
  }

  input[type='file'] {
    display: none;
  }

  .remove {
    position: absolute;
    right: #{$d-gutter-default / 2};
    bottom: #{$d-gutter-default / 2};
  }
}
