@keyframes toggleSlideIn {
  from {
    transform: translateX(10vw);
  }
  to {
    transform: translateX(0);
  }
}

.drawer {
  position: relative;

  .toggle {
    animation: $a-duration-default $a-timing-physical forwards toggleSlideIn;
    background-color: $c-orange;
    border-radius: 50%;
    height: font-size(7);
    outline: none;
    position: absolute;
    right: $d-gutter-default;
    top: -#{(number(scale(7)) / 2) + rem};
    width: font-size(7);

    i {
      display: block;
      transform: rotate(0deg);
      transition: $a-duration-default transform $a-timing-physical;
      left: 0;
      right: 0;
    }

    &.down i {
      transform: rotate(900deg);
    }
  }

  .content {
    background-color: $c-blue--dark;
    color: $c-white;
    left: 0;
    padding: #{$d-gutter-default / 2} $d-gutter-default;
    position: absolute;
    right: 0;
    top: 0;
    transition: $a-duration-default transform $a-timing-physical;
    z-index: $z-lower;
  }

  &.hidden .content {
    transform: translateY(-100%);
  }

  &.visible .content {
    @include card-shadow(1);
    transform: translateY(0);
  }

  input,
  .Select,
  textarea {
    color: $c-white;
  }

  .rdt {
    color: $c-black;
  }
}
