.App > header {
  @include card-shadow(2);
  background-color: $c-white;
  display: flex;
  flex-flow: row nowrap;
  height: $d-header-height;
  justify-content: space-between;
  padding: $d-gutter-default;
  position: relative;
  position: sticky;
  top: 0;
  z-index: $z-max;

  #logo {
    height: #{$d-header-height - ($d-gutter-default * 2)};
    position: relative;
    transform: translateY(-0.5rem);
    z-index: $z-max;
  }
}

#subHeader {
  position: relative;
  transform: translateY(0);
  transition: $a-duration-default transform $a-timing-default;
  z-index: #{$z-max - 1};

  &:empty,
  &.empty {
    background-color: $c-blue;
    height: 3rem;
    margin-bottom: -3rem;
    transform: translateY(-10vh);
  }

  ul.tabs {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: -0.5rem 0;
    // overflow-x: scroll;

    li {
      white-space: nowrap;
    }

    a {
      padding: $d-gutter-default;
      color: $c-white;
      text-decoration: none;
      display: block;

      &.active {
        border-bottom: $d-border-thick solid $c-blue;
      }
    }
  }

  .breadcrumbs {
    @include card-shadow(1);
    background-color: $c-blue;
    color: $c-white;
    display: flex;
    flex-flow: row nowrap;
    height: $d-breadcrumbs-height;
    justify-content: flex-start;
    line-height: $d-breadcrumbs-height;
    list-style-type: none;
    margin: 0;
    padding: 0 $d-gutter-default;

    li:not(:last-of-type) {
      margin-right: $d-gutter-default;
      position: relative;
      overflow: hidden;

      &::after {
        bottom: 0;
        content: '/';
        display: block;
        left: 100%;
        margin: auto;
        position: absolute;
        text-align: center;
        top: 0;
        width: 1rem;
      }
    }

    li::first-letter {
      text-transform: uppercase;
    }

    li {
      display: block;
      flex: 0 1 auto;
      overflow: hidden;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    i {
      color: inherit;
    }
  }

  .Select-input > input {
    color: $c-black;
  }
}

@include bp($b-tablet) {
  .App > header {
    align-content: flex-start;
    align-items: flex-start;
    bottom: 0;
    flex-direction: column;
    height: auto;
    left: 0;
    position: fixed;
    top: 0;
    width: $d-nav-tablet;

    nav {
      flex: 1 1 auto;
      max-width: 100%;
      order: 2;
    }

    .avatar {
      height: #{$d-nav-tablet - ($d-gutter-default * 4)};
      margin: auto;
      width: #{$d-nav-tablet - ($d-gutter-default * 4)};
    }
  }

  #logo {
    margin-bottom: $d-gutter-default;
    width: 100%;
  }

  .App.loggedIn > .body {
    transform: translateX($d-nav-tablet);
    width: calc(100% - #{$d-nav-tablet});
  }

  .nav-wrapper {
    height: 100%;
    padding: 0;
    position: relative;
  }

  nav.inactive .nav-wrapper {
    transform: none;
  }

  .navigation {
    background: transparent;
    box-shadow: none;

    a {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  #subHeader {
    position: sticky;
    top: 0;
  }
}

@include bp($b-desktop) {
  .App > header {
    width: $d-nav-desktop;

    .avatar {
      height: #{$d-nav-desktop - ($d-gutter-default * 4)-3};
      margin: auto;
      width: #{$d-nav-desktop - ($d-gutter-default * 4)-3};
    }
  }

  .App.loggedIn > .body {
    transform: translateX($d-nav-desktop);
    width: calc(100% - #{$d-nav-desktop});
  }
}
