.loader {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: $d-gutter-default;
  position: relative;
  text-align: center;

  svg {
    height: 5rem;
    width: 5rem;

    path {
      fill: $c-blue;
    }
  }
}
