.App > header nav {
  position: relative;
  z-index: $z-max;

  .overlay {
    background-color: $c-black;
    bottom: 0;
    height: 100vh;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: $a-duration-default opacity $a-timing-default;
    width: 100vw;
    z-index: -1;
  }

  + #logo .st1 {
    transition: $a-duration-default fill $a-timing-default;
  }

  &.active {
    .overlay {
      opacity: 0.5;
      pointer-events: all;
    }

    + #logo .st1 {
      fill: $c-white;
    }
  }
}

.navigation {
  @include card-shadow(1);
  background-color: $c-white;
  list-style-type: none;
  margin: 0;
  max-height: 100%;
  overflow-x: scroll;
  padding: $d-gutter-default;
  width: 100%;

  a {
    color: $c-gray--dark;
    text-decoration: none;
    transition: $a-duration-default color $a-timing-default;

    &.active {
      color: $c-blue;
    }
  }

  .count {
    @include type-scale(-1);
    display: inline-block;
    color: $c-white;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $c-blue;
    text-align: center;
  }

  i {
    margin-right: #{$d-gutter-default / 2};
  }

  > li {
    margin-bottom: $d-gutter-default;
  }

  > li > a {
    display: block;
    margin-bottom: #{$d-gutter-default / 2};
  }

  li ul {
    @include type-scale(-1);
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 #{$d-gutter-default * 1.5};
    max-height: 0;
    overflow: hidden;
  }

  a[aria-current='true'] + ul,
  li:hover ul {
    max-height: initial;

    &:last-of-type {
      margin-bottom: $d-gutter-default;
    }
  }

  li ul li {
    margin-bottom: #{$d-gutter-default / 2};
  }

  > li:last-of-type {
    margin-bottom: 5rem; // To provide space for the logout button
  }
}

#nav-toggle {
  background: transparent;
  box-shadow: none;
  color: $c-gray--dark;
  font-size: font-size(7);
  height: #{$d-header-height - ($d-gutter-default * 2)};
  padding: 0;
  position: relative;
  transition: $a-duration-default color $a-timing-default;
  z-index: $z-max;

  &:hover,
  &:active {
    transform: none;
  }

  nav.active & {
    color: $c-white;
  }
}

.nav-wrapper {
  align-content: stretch;
  align-items: stretch;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  left: -#{$d-gutter-default};
  padding-top: $d-header-height;
  position: fixed;
  top: 0;
  transition: $a-duration-default transform $a-timing-default;
  width: #{(1 / $phi) * 100}vw;

  &::after {
    background: linear-gradient(to top, $c-white, rgba($c-white, 0));
    bottom: 0;
    content: '';
    display: block;
    height: 5rem;
    left: 0;
    position: absolute;
    right: 0;
  }

  nav.inactive & {
    transform: translateX(-#{(1 / $phi) * 100}vw);
  }

  nav.active & {
    transform: translateX(#{$d-gutter-default});
  }
}

#logout {
  bottom: $d-gutter-default;
  left: $d-gutter-default;
  position: absolute;
  z-index: $z-max;
}

@include bp($b-mobile) {
  .nav-wrapper {
    width: #{(1 / $phi / $phi) * 100}vw;

    nav.inactive & {
      transform: translateX(-#{(1 / $phi / $phi) * 100}vw);
    }
  }
}

@include bp($b-tablet) {
  .nav-wrapper {
    width: auto;
  }
}
