.document.list.body {
  padding: $d-gutter-default;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul.document > li {
    @include card-shadow(1);
    background-color: $c-white;
    margin-bottom: $d-gutter-default;
    padding: $d-gutter-default;

    a {
      text-decoration: none;
    }

    &.new {
      @include spirit-box;
      background: transparent;
      box-shadow: none;
    }
  }

  ul.documentType {
    li {
      @include card-shadow(1);
      background-color: $c-blue;
      color: $c-white;
    }

    .remove {
      background: transparent;
      box-shadow: none;
      height: auto;
      line-height: 1em;
      margin-left: .5rem;
      padding: 0;
      width: auto;
    }

    .new button {
      background: transparent;
      box-shadow: none;
      height: 1em;
      line-height: 1em;
    }

    form.documentType.new {
      display: flex;
      flex-flow: row nowrap;
    }

    input {
      color: $c-white;
      height: #{$phi}rem;
      line-height: #{$phi}rem;

      &[type=text] {
        border-radius: #{$phi / 2}rem 0 0 #{$phi / 2}rem;
        margin-left: -.5rem;
      }

      &[type=submit] {
        border-radius: 0 #{$phi / 2}rem #{$phi / 2}rem 0;
        margin-right: -.5rem;
      }
    }
  }
}
