.document.new {
  padding: $d-gutter-default;

  form {
    @include card-shadow(1);
    background-color: $c-white;
    padding: $d-gutter-default;

    label {
      display: block;
      margin-bottom: $d-gutter-default;
      width: 100%;

      input,
      textarea {
        width: 100%;
      }
    }

  }
}
