.document.view.body {
  padding: $d-gutter-default;

  article,
  form {
    @include card-shadow(1);
    background-color: $c-white;
  }

  form {
    padding: $d-gutter-default;
  }

  h1 {
    background-color: $c-blue;
    color: $c-white;
    margin: 0;
    padding: $d-gutter-default;
  }

  p {
    padding: $d-gutter-default;
  }

  form {
    display: flex;
    flex-flow: row wrap;

    label {
      flex: 1 1 100%;
      margin-bottom: $d-gutter-default;
    }

    input,
    textarea {
      display: block;
      width: 100%;
    }
  }
}
