.dashboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: $d-gutter-default;
}

.dashboard-icon {
  @include card-shadow(1);
  @include staggered-entry;
  background-color: $c-blue;
  color: $c-white;
  flex: 1 1 100%;
  margin: 0 0 $d-gutter-default;
  min-height: 50vw;
  text-align: center;
  transition: $a-duration-default box-shadow $a-timing-default;
  z-index: 1;
  
  &:hover {
    @include card-shadow(2);
  }

  a.icon {
    align-content: center;
    align-items: center;
    color: inherit;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: center;
    padding: $d-gutter-default;
    text-decoration: none;
  

    i {
      font-size: font-size(7);
    }
  }

  figcaption {
    flex: 1 1 100%;
  }

  &.volunteer {
    background-color: $c-volunteer;
    color: $c-volunteer-contrast;
  }

  &.student {
    background-color: $c-student;
    color: $c-student-contrast;
  }

  &.educator {
    background-color: $c-educator;
    color: $c-educator-contrast;
  }

  &.business {
    background-color: $c-business;
    color: $c-business-contrast;
  }

  &.school {
    background-color: $c-school;
    color: $c-school-contrast;
  }

  &.profile {
    background-color: $c-green;
  }

  &.search {
    background-color: $c-blue;
  }

  &.internship {
    background-color: $c-internship;
    color: $c-internship-contrast;
  }
}

.myDates {
  display: flex;
  // flex-flow: row wrap;
  margin: $d-gutter-default;
  z-index: $z-max;

  > label,input {
    margin-right: $d-gutter-default;

  }

  label[for='dateRange'] .Select, input {
    min-width: 200px;
  }

  .checkbox {
    margin-left: $d-gutter-default;
  }
}

.administratorWidget {
  @include card-shadow(1);
  background-color: $c-white;
  color: $c-black;
  height: auto !important;
  margin-bottom: $d-gutter-default;
  text-align: left;

  
  p {
    padding-left: $d-gutter-default;
    padding-right: $d-gutter-default;
  }

  h2 {
    background-color: $c-blue;
    color: $c-white;
    margin: 0;
    padding: $d-gutter-default;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: $d-gutter-default;
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: $d-gutter-default;
    padding-top: $d-gutter-default;
    width: 100%;
  }

  .pagination {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 $d-gutter-default $d-gutter-default;
  }

  &.newUsers {
    z-index: 998 !important;

    a {
      color: inherit;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: $d-gutter-default;
      text-decoration: none;
    }

    .name {
      color: $c-blue;
      flex: 1 1 50%;
      order: 0;
      text-decoration: underline;
    }

    .type {
      flex: 1 1 100%;
      font-size: font-size(-1);
      order: 2;
    }

    time {
      flex: 1 1 50%;
      order: 1;
      text-align: right;
    }
  }

  &.myDates2 {
    z-index: $z-max !important;

    a {
      color: inherit;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: $d-gutter-default;
      text-decoration: none;
    }

    .name {
      color: $c-blue;
      flex: 1 1 50%;
      order: 0;
      text-decoration: underline;
    }

    .type {
      flex: 1 1 100%;
      font-size: font-size(-1);
      order: 2;
    }

    time {
      flex: 1 1 50%;
      order: 1;
      text-align: right;
    }
  }

  &.newOrders {

    margin-right: 0rem !important;
    
     a {
       color: inherit;
       display: flex;
       flex-flow: row wrap;
       margin-bottom: $d-gutter-default;
       text-decoration: none;
     }

     .name {
       color: $c-blue;
       flex: 1 1 50%;
       order: 0;
       text-decoration: underline;
     }

     .type {
       flex: 1 1 100%;
       font-size: font-size(-1);
       order: 2;
     }

     time {
       flex: 1 1 50%;
       order: 1;
       text-align: right;
     }
   }

  &.announcements {

    a,div {
      color: inherit;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: $d-gutter-default;
      text-decoration: none;
    }

    .anouncementName {
      flex: 1 1 90%;
      order: 0;
      font-weight: bolder;
    }

    .type {
      flex: 1 1 100%;
      font-size: font-size(-1);
      order: 2;
    }

    time {
      flex: 1 1 10%;
      order: 1;
      text-align: right;
    }
  }
}

@include bp($b-mobile) {
  .dashboard-icon {
    flex: 0 1 calc(100vw - 1.5rem);
    height: calc(50vw - 1.5rem);
    min-height: 0;
  }
}

//@include bp($b-mobile-max) {
//  .dashboard-icon {
//    overflow-x: scroll;
//  }
//}

@include bp($b-tablet) {
  .dashboard {
    justify-content: flex-start;
  }

  .dashboard-icon {
    flex: 0 1 13rem;
    height: 13rem;
    margin-right: $d-gutter-default;
  }

  .administratorWidget {
    flex: 0 1 27rem;
  }

  .announcementWidget {
    width:100%;
    flex: 0 1 100% !important;
  }
}
