@keyframes logoSlideFadeIn {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes buttonSlideFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.entry {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: $d-card-max;
  min-height: 100vh;
  padding: $d-gutter-default;

  .wrapper {
    max-width: 100%;
    width: $d-card-max;
  }

  #logo {
    animation: $a-duration-default $a-timing-default forwards logoSlideFadeIn;
    //animation-delay: $a-duration-default;
    display: block;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(10rem);
  }

  #social {
    display: flex;
    flex-flow: row wrap;
    font-size: font-size(7);
    justify-content: center;
    margin: 0 auto $d-gutter-default;
    text-align: center;

    i {
      margin: 0 $d-gutter-default;
    }
  }
}

.entry-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: $d-gutter-default 0;
  width: 100%;
}

form#signup,
form#login {
  @include card;
  animation: $a-duration-default $a-timing-default forwards fadeIn;
  background-color: $c-white;
  margin: 0 auto $d-gutter-default;
  position: relative;
  z-index: $z-max;
}

button#signup,
button#login {
  animation: $a-duration-default $a-timing-default forwards buttonSlideFadeIn;
  animation-delay: $a-duration-default * 1.5;
  opacity: 0;
  transform: translateY(-10rem);
}

@import '{}/client/scss/pages/signup';
@import '{}/client/scss/pages/login';
