form#login {
  h2 {
    margin-bottom: $d-gutter-default;
  }

  input[name='email'],
  input[name='password'] {
    display: block;
    margin: 0 auto $d-gutter-default;
  }

  .entry-actions {
    padding-left: $d-gutter-default;
    padding-right: $d-gutter-default;
  }
}
