form#signup {
  ul,
  ol {
    list-style-type: none;
  }
}

.signupForm__reverse {
  background: transparent;
  border: 1px solid $c-blue;
  box-shadow: none;
  color: $c-blue;

  &:hover {
    @include card-shadow(1);
  }
}

.wizard {
  margin: 0;
  padding: $d-gutter-default;

  > li {
    display: none;

    &.active {
      display: block;
    }
  }
}

#signupForm__choose-role {
  ul {
    overflow-y: hidden;
    padding: 0;
  }

  h3,
  span {
    float: left;
    padding-right: $d-gutter-default;
    width: 75%;
  }

  h3 {
    margin-bottom: $d-gutter-default;
  }

  button {
    float: right;
    font-size: font-size(7);
    height: auto;
    padding: #{$d-gutter-default / 2};
    width: 25%;
  }

  .volunteer {
    button {
      background-color: $c-volunteer-contrast;
      color: $c-volunteer;
    }
  }

  .student {
    button {
      background-color: $c-student-contrast;
      color: $c-student;
    }
  }

  .educator {
    button {
      background-color: $c-educator-contrast;
      color: $c-educator;
    }
  }

  .business {
    button {
      background-color: $c-business-contrast;
      color: $c-business;
    }
  }

  .school {
    button {
      background-color: $c-school-contrast;
      color: $c-school;
    }
  }
}

#signupForm__role-details {
  label {
    display: block;
    margin-bottom: $d-gutter-default;
  }

  input[type='text'] {
    display: block;
    height: font-size(5);
    margin-bottom: $d-gutter-default;
    width: 100%;
  }

  fieldset {
    position: relative;
  }
}

#signupForm__personal-info {
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    display: block;
    margin-bottom: $d-gutter-default;
    width: 100%;
  }
}
