<head>
	{{#each style in styles}}
		{{{style}}}
	{{/each}}
	{{#each link in links}}
		{{{link}}}
	{{/each}}
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
