body {
  //background: #fff !important;
  //background-color: #fff !important;
  //size: landscape !important;
  //margin-left: 0.39in !important;
  //margin-right: 0.40in !important;
  //margin-top: 0.39cm !important;;
  //margin-bottom: 0.38cm !important;
}

.adminTable.order {

  .avatar {
    flex-basis: 5rem;
    flex-grow: 0;
  }

  .childName {
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .caseworkerName {
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .copy {
    flex-basis: 2rem;
    flex-grow: 0;
  }

  .delete {
    flex-basis: 2rem;
    flex-grow: 0;
  }

  .createdAt {
    flex-basis: 7rem;
    flex-grow: 0;
  }

  .pickupDate {
    flex-basis: 7rem;
    flex-grow: 0;
  }

  span.childName {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.createdAt {
    flex-basis: 4rem;
  }

  //span.orderActive {
  //  flex-basis: 3rem;
  //}

  span.caseworkerName {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.careProvider {
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.status {
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.adminTable.cpTotal {

  width: 1024px;
  //background: #fff !important;
  //background-color: #fff !important;

  .number {
    text-align: center;
    flex-basis: 9rem;
    flex-grow: 0;
  }

  .number2 {
    text-align: center;
    flex-basis: 8rem;
    flex-grow: 0;
  }

  .careProvider {
    flex-basis: 13rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 0.5;
  }

  span.number {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.number2 {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.careProvider {
    flex-basis: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .total {
    text-align: center;
    flex-basis: 9rem;
    flex-grow: 0;
  }

  span.total {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .totals {
    text-align:center !important;
  }

}

.adminTable.cbTotal {

  width: 1024px;
  //background: #fff !important;
  //background-color: #fff !important;

  .number {
    text-align: center;
    flex-basis: 9rem;
    flex-grow: 0;
  }

  .number2 {
    text-align: center;
    flex-basis: 8rem;
    flex-grow: 0;
  }

  .text {
    text-align: center;
    flex-basis: 13rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 0.5;
  }

  span.number {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.number2 {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.careProvider {
    flex-basis: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .total {
    text-align: center;
    flex-basis: 9rem;
    flex-grow: 0;
  }

  span.total {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .totals {
    text-align:center !important;
  }

}

.adminTable.centerTotal {

  width: 1024px;
  //background: #fff !important;
  //background-color: #fff !important;

  .number {
    text-align: center;
    flex-basis: 7rem;
    flex-grow: 0;
  }

  .number2 {
    text-align: center;
    flex-basis: 8rem;
    flex-grow: 0;
  }

  .careProvider {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 0.5;
  }

  span.number {
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.number2 {
    flex-basis: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.careProvider {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .total {
    text-align: center;
    flex-basis: 9rem;
    flex-grow: 0;
  }

  span.total {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .totals {
    text-align:center !important;
  }

}

@media (min-width: 375px) and (max-width: 768px) {
//@include bp($b-mobile) {

  .childName {
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .copy {
    display:none !important;
    flex-basis: 2rem;
    flex-grow: 0;
  }

  .delete {
    display:none !important;
    flex-basis: 2rem;
    flex-grow: 0;
  }
  .createdAt {
    display:none !important;
    flex-basis: 7rem;
    flex-grow: 0;
  }

  .pickupDate {
    flex-basis: 7rem;
    flex-grow: 0;
  }

  .createdAt {
    display:none !important;
    flex-basis: 7rem;
    flex-grow: 0;
  }

  span.childName {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.createdAt {
    display:none !important;
    flex-basis: 4rem;
  }

  span.caseworkerName {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.careProvider {
    display:none !important;
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.status {
    display:none !important;
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@include bp($b-tablet) {
  .avatar {
    flex-basis: 5rem;
    flex-grow: 0;
  }

  .childName {
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .caseworkerName {
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .copy {
    flex-basis: 2rem;
    flex-grow: 0;
  }

  .delete {
    flex-basis: 2rem;
    flex-grow: 0;
  }

  .createdAt {
    flex-basis: 7rem;
    flex-grow: 0;
  }

  .pickupDate {
    flex-basis: 7rem;
    flex-grow: 0;
  }

  span.childName {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.createdAt {
    flex-basis: 4rem;
  }

  //span.orderActive {
  //  flex-basis: 3rem;
  //}

  span.caseworkerName {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.careProvider {
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.status {
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
