@media print
{
  .no-print, .no-print *, .breadcrumbs
  {
    display: none !important;
  }

  .page-break-after
  {
    page-break-after: always !important;
  }

  .page-break-before
  {
    page-break-before: always !important;
  }

  .order.grouplist.body {
    padding-top: 2px !important;

    ul {
      display: flex;
      flex-flow: row wrap;
      list-style-type: none;
    }

    > ul > li {

      page-break-inside: avoid !important;
      box-shadow: none !important;
      max-font-size: 18px !important;
      width: 100%;
      max-width: 100% !important;
      //height: 28px !important;
      margin-top:4px !important;
      margin-bottom: 4px !important;
      //border-top: 1px solid black;
      border-bottom: 1px solid black;
    }

    > .ul > div {

      page-break-inside: avoid !important;
      box-shadow: none !important;
      max-font-size: 18px !important;
      width: 100%;
      max-width: 100% !important;
      //height: 28px !important;
      margin-top:4px !important;
      margin-bottom: 4px !important;
      //border-top: 1px solid black;
      border-bottom: 1px solid black;
    }

    header {
      text-align: left;
      background-color: white !important;
      color: black !important;
      padding: 0px !important;
      padding-left: 15px !important;

      .title {
        font-size: 14px;
      }
    }

    .main-fields {
      //padding-bottom: 4px;
      margin-bottom: 4px !important;
    }

    .print-date {
      text-align: center;
      display: inline-block !important;
      width: 100%;
      font-size: 10px;
      margin-top: 10px;
    }

    .sizeField {
      //font-weight: bold;
      font-size: 12px !important;
    }

    .label {
      display: inline-block;
      margin-bottom: 2px !important;
      font-size: 12px;
      max-width: 50% !important;
      width: 50% !important;
    }

    .value {
      display: inline-block;
      margin-bottom: 2px !important;
      font-size: 12px;
      max-width: 50% !important;
      width: 50% !important;
    }

  }
}

.order.grouplist.body {
  padding: $d-gutter-default;
  padding-top: 16rem;

  .loggedIn & {
    padding-top: $d-gutter-default;
  }

  .print-date {
    display:none;
  }

  > ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  > ul > li {
    @include staggered-entry;
    @include card-shadow(1);
    background-color: $c-white;
    margin-bottom: 4px;

    a {
      color: inherit;
      display: block;
      text-decoration: none;
    }

    &.target {
      @include card-shadow(2);
      header {
        background-color: $c-orange;
      }
    }
  }

  .ul > div {
    @include staggered-entry;
    @include card-shadow(1);
    background-color: $c-white;
    margin-bottom: 4px;
    width: 816px;

    a {
      color: inherit;
      display: block;
      text-decoration: none;
    }

    &.target {
      @include card-shadow(2);
      header {
        background-color: $c-orange;
      }
    }
  }

  header {
    text-align: left;
    background-color: $c-blue;
    color: $c-white;
    //display: flex;
    //flex-flow: row wrap;
    justify-content: space-between;
    //line-height: font-size(1);
    padding: $d-gutter-default;
    //padding-left: 15px;
    position: relative;
    transition: $a-duration-default color $a-timing-default,
    $a-duration-default background-color $a-timing-default,
    $a-duration-default box-shadow $a-timing-default;
    transition-delay: 250ms;

    .title {
      line-height: .5rem;
    }

  }

  .label
  {
    display: inline-block;
    margin-bottom: $d-gutter-default;
    max-width: 50% !important;
    width: 50% !important;
    overflow:hidden;
  }

  .value {
    display: inline-block;
    margin-bottom: $d-gutter-default;
    max-width: 50% !important;
    width: 50% !important;
    overflow:hidden;
  }

  .body {
    padding: $d-gutter-default;
    display: flex;
    flex-flow: row wrap;

    > button {
      margin-right: 0;
      margin-left: auto;
    }

    .main-fields {
      align-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-bottom: 8px;
      margin-top: 8px;
      //padding-bottom: 8px;

      .itemCategory {
        font-weight: bold;
        font-size: 16px;
        //display: block;
        padding-bottom: 4px;
      }

      .itemType {
        font-weight: bold;
        font-size: 16px;
        //display: block;
        padding-bottom: 4px;
      }

      .sizeField {
        //font-weight: bold;
        font-size: 14px;
        padding-bottom: 4px;
        overflow: hidden;
      }

      .itemComments {
        font-size: 12px;
        text-align: left;
        border: 1px solid black;
        padding-left: 4px;
        min-height: 70px;
      }

      .itemCommentsLabel {
        margin-top: 4px;
        font-size: 12px;
        display: block;
        text-align: left;
      }
    }
  }

  .new {
    @include spirit-box;
    align-content: center;
    align-items: center;
    background: transparent;
    box-shadow: none;
    color: $c-gray--dark;
    display: flex;
    flex-flow: row wrap;
    height: 10rem;
    justify-content: center;
  }

  .map {
    @include card-shadow(1);
    width: 100%;
  }
}

.order.grouplist.filter {
  font-size: 0.8541019662rem !important;

  label,
  .Select {
    display: block;
    margin-bottom: $d-gutter-default;
    width: 100%;
  }

  label {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
  }

  input {
    width: 100%;
  }

  input[type='text'] {
    height: font-size(5);
    line-height: font-size(5);
  }

  .checkbox {
    margin-bottom: 0;
    margin-left: $d-gutter-default;
    width: 1rem;
  }
}

@include bp($b-tablet) {
  .order.grouplist.body {
    > ul {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      align-content: flex-start;
    }

    > ul > li {
      flex: 1 1 100%;
      margin-right: 0.25rem;
    }
  }
}

@include bp($b-laptop) {
  .order.grouplist.filter {
    display: flex;
    flex-flow: row wrap;

    div,
    .Select,
    label[for='status'],
    label[for='pickupLocation']{
      flex: 1 1 33%;
    }

    label[for='pickupDate'] {
      flex: 1 1 33%;
    }
  }

  .order.grouplist.body {
    display: flex;
    flex-flow: row wrap;
    padding-top: 10rem;

    .loggedIn & {
      padding-top: $d-gutter-default;
    }

    > ul {
      flex: 1 1 calc(62% - #{$d-gutter-default / 2});
      margin-right: $d-gutter-default;
    }

    .map {
      flex: 1 1 calc(38% - #{$d-gutter-default / 2});
      position: sticky;
      top: #{$d-breadcrumbs-height + $d-gutter-default};
    }
  }
}

@include bp($b-desktop) {
  .order.grouplist.filter {
    label[for='keyword'],
    label[for='status'],
    label[for='pickupDate'],
    label[for='pickupLocation'],
    .Select,
    input[type='button'] {
      flex: 1 1 20%;
      margin-bottom: 0;
    }
  }
}


