.order.new.body {
  padding: $d-gutter-default;
  background-color: $c-gray--dark2;

  h2 {
    @include teal-header;
    overflow: hidden;
    max-width: $d-card-double;
    margin: 0 auto 0;
  }

  form {
    @include card-shadow(1);
    //@include card;
    @include profile-card;
    background-color: $c-white;
    max-width: $d-card-double;
    padding: #{$d-gutter-default / 2};

    > label {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: $d-gutter-default;
    }

    input,
    .Select,
    .rdt {
      margin-left: $d-gutter-default;
      flex: 1 1 5rem;
      min-width: 5rem;
    }

    .rdt input {
      margin-top: 0;
      width: 100%;
    }

    textarea {
      flex: 1 1 100%;
    }

    .checkbox {
      margin-left: $d-gutter-default;
    }

    input[type='submit'],
    .form-control,
    label[for='itemType'] .Select {
      flex: 1 1 100%;
      margin-left: 0;
      max-width: 100%;
    }

    label[for='childSex'] .Select {
      flex: 1 1 10%;
      margin-left: 0;
      max-width: 100%;
    }
  }
}

@include bp($b-mobile) {
  .order.new.body {
    form {
      display: flex;
      flex-flow: row wrap;

      input,
      .Select,
      .rdt {
        flex-basis: 100%;
        margin-left: 0;
        margin-top: 0;
        //$d-gutter-default;
      }

      > label {
        align-content: flex-start;
        align-items: flex-start;
        flex: 1 1 100%;
        padding: $d-gutter-default;
      }

      fieldset {
        width: 100%;
        > div {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          >

          label[for='ordererId'],
          label[for='pickupDay']
          {
            padding-bottom: 1rem !important;
          }

          label[for='pickupLocation']
          {
            padding-bottom: 3rem !important;
          }

          label{
            span:not([class]) {
              font-weight: bold;
            }
          }

          label {
            display: flex;
            flex: 0 1 100%;
            margin-bottom: #{$d-gutter-default / 2};

            label {
              order: -1;
              margin-right: #{$d-gutter-default / 2};
            }

          }
        }
        legend {
          font-size: 24px;
          font-weight: bold;
          border-bottom: 1px solid $c-blue;
          flex: 1 1 100%;
          display: block;
          margin-bottom: $d-gutter-default;
        }
      }

      .items {
        @include profile-card;

        label {
          padding-bottom: 5rem;
        }
        button {
          margin: 2.0rem;
        }
      }

      a {
        margin: 0.25rem;
        width: auto;
      }

      input[type='submit']
      {
        margin: 0.25rem;
        width: auto;
      }
    }
  }
}
@include bp($b-tablet) {
  .order.new.body {
    form {
      display: flex;
      flex-flow: row wrap;

      input,
      .Select,
      .rdt {
        flex-basis: 100%;
        margin-left: 0;
        margin-top: 0;
      }

      > label {
        align-content: flex-start;
        align-items: flex-start;
        flex: 1 1 33%;
        padding: $d-gutter-default;
      }

      fieldset {
        width: 100%;
        > div {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          > label[for='pickupDate'],
            label[for='childName'],
            label[for='comments']
            label[for='newChild']{
              flex: 0 1 24%;
            }

            label {
            display: flex;
            flex: 0 1 24%;
            margin-bottom: #{$d-gutter-default / 2};

            label {
              order: -1;
              margin-right: #{$d-gutter-default / 2};
            }

          }
        }
        legend {
          font-weight: bold;
          border-bottom: 1px solid $c-blue;
          flex: 1 1 100%;
          display: block;
          margin-bottom: $d-gutter-default;
        }
      }

      .items {
        @include profile-card;
        min-height: 6.25rem;
        max-width: $d-card-double;

        label {
          padding-bottom: 5rem;
        }

        button {
          margin-top: 2.0rem;
        }
      }

    }
  }
}
