.order.view.body {
  padding: $d-gutter-default;
  background-color: $c-gray--dark2;

  h2 {
    @include teal-header;
    overflow: hidden;
    max-width: $d-card-double;
    margin: 0 auto 0;
  }

  form {
    @include card-shadow(1);
    //@include card;
    @include profile-card;
    background-color: $c-white;
    max-width: $d-card-double;
    padding: $d-gutter-default;

    > label {
      span .value {
        font-weight: normal !important
      }
      font-weight:bold;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: $d-gutter-default;
    }

    input,
    .Select,
    .rdt {
      margin-left: $d-gutter-default;
      flex: 1 1 5rem;
      min-width: 5rem;
    }

    .rdt input {
      margin-top: 0;
      width: 100%;
    }

    textarea {
      flex: 1 1 100%;
    }

    .checkbox {
      margin-left: $d-gutter-default;
    }

    a {
      @include card-shadow(1);
      appearance: none;
      background-color: $c-blue;
      border: 0;
      border-radius: 2px;
      color: $c-white;
      cursor: pointer;
      display: inline-block;
      font-size: font-size(-1);
      height: font-size(5);
      line-height: font-size(5);
      padding: 0 0.5rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transform: translate(0, 0);
      transition: $a-duration-default box-shadow $a-timing-default,
      $a-duration-default transform $a-timing-default;
      margin-left: 1rem;
      width: 15rem;

      &:hover {
        @include card-shadow(2);
        transform: translate(-1px, -1px);
      }

      &:active {
        box-shadow: none !important;
        transform: translate(1px, 1px);
      }

      &.remove {
        background-color: $c-red;
        border-radius: #{(number(scale(5)) / 2) + rem};
      }

      &.add {
        background-color: $c-orange;
        border-radius: #{(number(scale(5)) / 2) + rem};
      }

      &.disabled {
        background: transparent;
        border: 1px solid $c-gray;
        box-shadow: none;
        color: $c-gray;
        pointer-events: none;
      }
    }

    input[type='submit'],
    .form-control,
    label[for='itemType'] .Select {
      flex: 1 1 100%;
      margin-left: 0;
      max-width: 100%;
    }

    label[for='childSex'] .Select {
      flex: 1 1 10%;
      margin-left: 0;
      max-width: 100%;
    }
  }
}

@include bp($b-mobile) {
  .order.view.body {
    form {
      display: flex;
      flex-flow: row wrap;

      input,
      .Select,
      .rdt {
        flex-basis: 100%;
        margin-left: 0;
        margin-top: 0;
        //$d-gutter-default;
      }

      > label {
        align-content: flex-start;
        align-items: flex-start;
        flex: 1 1 100%;
        padding: $d-gutter-default;
      }

      fieldset {
        width: 100%;
        > div {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          >

          label[for='ordererId'],
          label[for='pickupDay']
          {
            padding-bottom: 1rem !important;
          }

          label[for='pickupLocation']
          {
            padding-bottom: 3rem !important;
          }

          label{
            span:not([class]) {
              font-weight: bold;
            }
          }

          label {
            display: flex;
            flex: 0 1 100%;
            margin-bottom: #{$d-gutter-default / 2};

            label {
              order: -1;
              margin-right: #{$d-gutter-default / 2};
            }

          }
        }
        legend {
          font-size: 24px;
          font-weight: bold;
          border-bottom: 1px solid $c-blue;
          flex: 1 1 100%;
          display: block;
          margin-bottom: $d-gutter-default;
        }
      }

      .items {
        @include profile-card;

        label {
          padding-bottom: 5rem;
        }
        button {
          margin: 2.0rem;
        }
      }

      a {
        margin: 0.25rem;
        width: auto;
      }
    }
  }
}

@include bp($b-tablet) {
  .order.view.body {
    form {
      display: flex;
      flex-flow: row wrap;

      input,
      .Select,
      .rdt {
        flex-basis: 100%;
        margin-left: 0;
        margin-top: 0;
        //$d-gutter-default;
      }

      > label {
        align-content: flex-start;
        align-items: flex-start;
        flex: 1 1 33%;
        padding: $d-gutter-default;
      }

      fieldset {
        width: 100%;
        > div {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          > label[for='pickupDate'],
          label[for='childName'],
          label[for='comments']
          label[for='newChild']{
            flex: 0 1 24%;
          }

          label[for='ordererId']
          {
            flex: 0 1 23% !important;
          }

          label[for='pickupLocation']
          {
            flex: 0 1 31% !important;
          }

          label[for='status']{
            flex: 0 1 18%;
          }

          label[for='pickupDay']{
            flex: 0 1 15%;
          }

          label{
            span:not([class]) {
              font-weight: bold;
            }
          }

          label {
            display: flex;
            flex: 0 1 24%;
            margin-bottom: #{$d-gutter-default / 2};

            label {
              order: -1;
              margin-right: #{$d-gutter-default / 2};
            }

          }
        }
        legend {
          font-size: 24px;
          font-weight: bold;
          border-bottom: 1px solid $c-blue;
          flex: 1 1 100%;
          display: block;
          margin-bottom: $d-gutter-default;
        }
      }

      .items {
        @include profile-card;
        min-height: 6.25rem;
        max-width: $d-card-double;

        label {
          padding-bottom: 5rem;
          line-height: font-size(3);
        }
        button {
          margin-top: 2.0rem;
        }
      }
    }
  }
}


