input[type='button'],
input[type='submit'],
.button,
.btn,
button {
  @include card-shadow(1);
  appearance: none;
  background-color: $c-blue;
  border: 0;
  border-radius: 2px;
  color: $c-white;
  cursor: pointer;
  display: inline-block;
  font-size: font-size(-1);
  height: font-size(5);
  line-height: font-size(5);
  padding: 0 0.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform: translate(0, 0);
  transition: $a-duration-default box-shadow $a-timing-default,
    $a-duration-default transform $a-timing-default;

  &:hover {
    @include card-shadow(2);
    transform: translate(-1px, -1px);
  }

  &:active {
    box-shadow: none !important;
    transform: translate(1px, 1px);
  }

  &.remove {
    background-color: $c-red;
    border-radius: #{(number(scale(5)) / 2) + rem};
  }

  &.add {
    background-color: $c-orange;
    border-radius: #{(number(scale(5)) / 2) + rem};
  }

  &.disabled {
    background: transparent;
    border: 1px solid $c-gray;
    box-shadow: none;
    color: $c-gray;
    pointer-events: none;
  }
}

.button--text-appearance,
button.spirit {
  background-color: transparent;
  box-shadow: none;
  color: $c-gray--dark;
  transition: $a-duration-default box-shadow $a-timing-default,
    $a-duration-default background-color $a-timing-default;

  &:hover {
    @include card-shadow(1);
    background-color: rgba($c-white, 0.4);
  }

  &.disabled {
    border: none;
    color: $c-gray;
  }
}

button.has-icon {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  padding-right: #{$d-gutter-default * 1.5};

  i {
    position: absolute;
    right: #{$d-gutter-default / 2};
    top: 0;
    bottom: 0;
    margin: auto;
    left: auto;
  }
}
