label.checkbox {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  max-width: 1em;

  i {
    display: block;
    font-size: 1.25em;
    margin: 0 auto;
    text-align: center;
  }
}

input[type=checkbox] {
  display: none;
}
