.daySelector {
  > div {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   width: 100%;
 }

 legend {
   flex: 1 1 100%;
   margin-bottom: $d-gutter-default;
 }

  .checkbox {
    align-items: center;
    background-color: transparent;
    border: 1px solid $c-blue;
    border-radius: 50%;
    color: $c-blue;
    display: flex;
    flex: 0 1 font-size(7) !important;
    flex-flow: row wrap;
    height: font-size(7);
    justify-content: center;
    line-height: font-size(7);
    max-width: font-size(7);
    padding: 0 !important;
    text-align: center;
    transition: $a-duration-default background-color $a-timing-default, $a-duration-default color $a-timing-default;
    width: font-size(7);

    &:hover {
      background-color: rgba($c-blue, .7);
      color: $c-white;
    }

    &.checked {
      background-color: $c-blue;
      color: $c-white;
    }
  }

  &.disabled {
    pointer-events: none;

    .checkbox {
      background-color: transparent;
      border: 1px solid $c-gray--dark;
      color: $c-gray--dark;

      &.checked {
        background-color: $c-gray--dark;
        color: $c-white;
      }
    }
  }

}
