@import '{}/client/scss/helpers/inputs/Select';
@import '{}/client/scss/helpers/inputs/daySelector';
@import '{}/client/scss/helpers/inputs/checkbox';
@import '{}/client/scss/helpers/inputs/button';

input,
textarea,
.chzn-container-multi .chzn-choices,
.Select-control {
  background: transparent;
  border: 0;
  border-bottom: 1px solid $c-blue;
  border-radius: 0;
  font-size: font-size(0);
  font-weight: 300;

  &.invalid {
    background: linear-gradient(to top, rgba($c-red, 0.2) 0%, rgba($c-red, 0) 80%);
  }

  &:disabled,
  .is-disabled & {
    border-bottom-color: $c-gray;
    color: $c-gray;
  }

  &:focus {
    @include card-shadow(1, true);
    outline: none;
  }

  &::selection {
    @include card-shadow(1);
    background-color: $c-blue--dark;
    color: $c-white;
    display: inline-block;
    margin: 0 -0.5rem;
    padding: 0 0.5rem;
  }
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='date'],
input[type='time'],
input[type='password'],
input[type='search'],
.Select-control {
  appearance: none;
  display: block;
  height: font-size(5);
  line-height: font-size(5);
}

@mixin input-gray {
  background-color: $c-gray;
  border-bottom: 0;
  color: $c-gray--dark;
}

textarea {
  font: inherit;
  padding: 0.5rem;
}

.input--text {
  height: font-size(5);
  line-height: font-size(5);
  min-height: font-size(5);
}

input[type='text'],
input[type='url'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='search'] {
  padding-left: 0.5rem;
}

.search-field input {
  margin-left: 0 !important;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input.default {
  min-width: 11rem !important;
}

select[multiple] {
  display: none;
}

.document--uploaded {
  background-color: $c-blue--dark;
  color: $c-white;
  padding: 0.5rem;
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;
  }

  .remove {
    background: $c-red;
    border-radius: 50%;
    font-size: font-size(-1);
    height: font-size(5);
    line-height: font-size(5);
    margin-left: 1rem;
    width: font-size(5);
  }
}

label.disabled {
  color: $c-gray;
}

.list--typeahead {
  @include card-shadow(1);
  background-color: $c-white;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: font-size(5);
  z-index: $z-max;

  li {
    cursor: pointer;
    padding: #{$d-gutter-default / 2};

    &:hover {
      background-color: $c-gray;
    }
  }
}

.rdtPicker {
  border: 0;
  margin: 0;
  padding: 0;
}

.rdtPicker table {
  table-layout: auto;
}

.deny,
.reject {
  background-color: $c-red;
}

.required {
  color: $c-red;
  margin-left: $d-gutter-tiny;
  margin-right: auto;
}

h1 .Select {
  .Select-control {
    border: none;
    height: auto;
    line-break: inherit;
    font-size: inherit;
  }

  input {
    font-size: inherit;
  }

  > .Select-control .Select-value {
    line-height: inherit;
  }
}
