select {
  border: 0;
  border-bottom: 1px solid $c-blue;
  border-radius: 0;
  font-size: inherit;
  font-weight: inherit;
}

.Select--multi {
  height: auto;
  min-height: font-size(5);

  .Select-multi-value-wrapper {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    min-height: font-size(5);
    padding-top: $d-gutter-tiny;
  }

  .Select-input {
    height: font-size(2);
    line-height: font-size(2);
  }

  .Select-control {
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    justify-content: space-between;
    padding-left: $d-gutter-tiny;
  }

  .Select-clear-zone {
    margin-left: auto;
    margin-right: 0;
    width: 1.5rem;
  }

  .Select-clear {
    color: $c-gray--dark;
  }

  .Select-value {
    align-content: center;
    align-items: center;
    background-color: $c-blue;
    border: 0;
    border-radius: 0.5rem;
    color: $c-white;
    cursor: pointer;
    display: inline-flex;
    flex-flow: row nowrap;
    font-size: 1rem;
    height: font-size(2);
    line-height: 1;
    margin: 0 $d-gutter-tiny $d-gutter-tiny 0;
    padding: 0 $d-gutter-tiny;
  }

  .Select-value-icon {
    border: 0;
    display: inline-block;
    margin-right: $d-gutter-tiny;
    padding: 0;

    &:hover {
      background: transparent;
      color: $c-red;

      + .Select-value-label {
        text-decoration: line-through;
      }
    }
  }

  .Select-value-label {
    font-size: font-size(-1);
    padding: 0;
    white-space: nowrap;
  }

  input[role='combobox'] {
    border-radius: 0.5em;
    box-shadow: none;
    box-sizing: border-box !important;
    height: 100%;
    line-height: 1;
    min-height: unset;
  }
}

.Select--single {
  input[role='combobox'] {
    box-shadow: none;
    padding: 0;
  }
  > .Select-control .Select-value {
    line-height: 2;
  }
}

.Select.is-disabled {
  .Select-control {
    background: transparent;
  }

  .Select-arrow-zone {
    display: none;
  }
}

.Select-control,
.Select-placeholder,
.Select--single > .Select-control .Select-value,
.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: inherit;
}

.Select-placeholder {
  line-height: font-size(5);
  font-size: font-size(-1);
}

.Select-arrow-zone {
  position: absolute;
  right: 0;
  bottom: 0;
  height: font-size(5);
}

.Select-arrow {
  border-width: 0.5rem 0.5rem 0.25rem;
  border-color: $c-gray--dark transparent transparent;
  height: 0.75rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: $a-duration-default border $a-timing-default;

  .is-open &,
  .Select-arrow-zone:hover > & {
    border-top-color: $c-gray;
  }

  .is-open > .Select-control & {
    border-width: 0 0.5rem 0.5rem;
    border-color: transparent transparent $c-gray;
  }
}

.Select-clear-zone {
  position: absolute;
  right: font-size(5);
  bottom: 0;
  height: font-size(5);
  color: $c-gray--dark;
}
