
.adminTable {
  padding: $d-gutter-default;
  position: relative;
  z-index: 0;

  .headers2,
  .headers,
  .data,
  .footers {
    @include card-shadow(1);
    background-color: $c-white;

    span {
      display: block;
      flex: 1 1;
    }
  }

  .help {
    @include card-shadow(1);
    background-color: $c-white;
    //display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: sticky;
    //top: 0;
    padding:10px;
    z-index: $z-max;

    span {
      align-content: center;
      align-items: center;
      border-right: 1px solid $c-gray;
      display: flex;
      flex-flow: row nowrap;
      font-size: font-size(-1);
      padding: #{$d-gutter-default / 2} #{$d-gutter-default / 2} #{$d-gutter-default / 2} 1.5rem;
      position: relative;
    }
  }

  .headers2 {
    text-align: center;

    span {
      align-content: center;
      align-items: center;
      display: block;
      font-size: font-size(+2);
      padding: 1rem 0 1rem 0;
    }
  }

    .headers {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    z-index: $z-max;

    span {
      align-content: center;
      align-items: center;
      border-right: 1px solid $c-gray;
      display: flex;
      flex-flow: row nowrap;
      font-size: font-size(-1);
      padding: #{$d-gutter-default / 2} #{$d-gutter-default / 2} #{$d-gutter-default / 2} 1.5rem;
      position: relative;
    }
  }

  .sort {
    align-content: center;
    align-items: center;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    left: #{$d-gutter-default / 4};
    position: absolute;
    text-align: center;
    top: 0;
    width: 1rem;

    i {
      cursor: pointer;
      flex: 1 1 100%;

      &.active {
        background-color: $c-blue;
        color: $c-white;
      }
    }
  }

  .datum {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0 #{$d-gutter-default / 2};
    padding: 0;

    &:nth-of-type(even) {
      background-color: $c-gray;
    }

    span {
      padding: #{$d-gutter-default / 2};
    }
  }

  .datum-heading {
    border-top: 1px solid $c-gray--dark;
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0 #{$d-gutter-default / 2};
    padding: 0;

    &:nth-of-type(even) {
      background-color: $c-gray;
    }

    span {
      padding: #{$d-gutter-default / 2};
    }
  }

  .footers {
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: $d-gutter-tiny;
    position: sticky;
    width: 100%;
    z-index: $z-max;

    button {
      margin-left: $d-gutter-tiny;
    }

    .copy i {
      margin-left: $d-gutter-tiny;
    }
  }
}

.adminTableFilter {
  display: flex;
  flex-flow: row wrap;

  > label,input {
    margin-right: $d-gutter-default;
  }

  label[for='dateRange'] .Select, input {
    min-width: 200px;
  }

  .checkbox {
    margin-left: $d-gutter-default;
  }
}
