figure.avatar {
  @include card-shadow(1, true);
  background-color: $c-white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  //border-radius: 50%;
  height: $d-avatar-size;
  margin: 0;
  position: relative;
  width: $d-avatar-size;

  i {
    bottom: 0;
    color: $c-gray;
    font-size: font-size(4);
    height: $d-avatar-size;
    left: 0;
    line-height: $d-avatar-size;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
  }
}
