.ccerror {
  @include card-shadow;
  background: $c-white;
  margin: $d-gutter-default;
  padding: $d-gutter-default;
  h1 {
    margin-top: 0;
  }
}

.error {
  padding: $d-gutter-default;
  pre {
    code {
      display: block;
      line-height: $phi;
      @include type-scale(-1);
    }
  }
}
