#helpButton {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 6rem;
  height: 2rem;
  //border-radius: 50%;
}

@include bp($b-mobile) {
  #helpButton {
    position: fixed;
    right: 0.25rem;
    bottom:  0.25rem;
    width: 6rem;
    height: 2rem;
    //border-radius: 50%;
  }
}

@include bp($b-tablet) {
  #helpButton {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 6rem;
    height: 2rem;
    //border-radius: 50%;
  }
}