@keyframes modalFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal {
  align-content: center;
  align-items: center;
  animation-fill-mode: forwards;
  animation-name: modalFadeIn;
  animation-timing-function: $a-timing-default;
  background-color: rgba($c-gray--dark, 0.8);
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow-y: scroll;
  padding: $d-gutter-wide;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-max;

  &.hiding {
    animation-name: modalFadeOut;
    opacity: 1;
  }

  .mdi-close {
    color: $c-white;
    cursor: pointer;
    font-size: font-size(6);
    height: font-size(6);
    left: #{($d-gutter-wide / 2) - (scale(0))};
    line-height: font-size(6);
    position: fixed;
    top: #{($d-gutter-wide / 2) - (scale(0))};
    width: font-size(6);
  }

  .header {
    background-color: $c-blue;
    color: $c-white;
    display: block;
    padding: $d-gutter-default;
    position: sticky;
    top: -#{$d-gutter-wide};
    z-index: $z-higher;
  }

  .content {
    max-height: 100%;
    max-width: $d-container-max;
    width: 100%;
  }

  .card {
    margin: 0 auto;
  }
}
