.pdf {
  position: fixed !important;
  right: 7.5rem !important;
  bottom: 0rem !important;
}

@include bp($b-mobile) {
  .pdf {
    position: fixed !important;
    right: 6.5rem !important;
    bottom:  0.25rem !important;

  }
}

@include bp($b-tablet) {
  .pdf {
    position: fixed !important;
    right: 7.5rem !important;
    bottom: 0rem !important;
  }
}