
.print {
  position: fixed !important;
  right: 10rem !important;
  bottom: 0rem !important;
}

@include bp($b-mobile) {
  .print {
    position: fixed !important;
    right: 10rem !important;
    bottom:  0.25rem !important;

  }
}

@include bp($b-tablet) {
  .print {
    position: fixed !important;
    right: 10rem !important;
    bottom: 0rem !important;
  }
}