.adminTable.internship {
  span.internshipName {
    flex-basis: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.internshipBusiness {
    flex-basis: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  span.internshipIndustry {
    flex-basis: 7rem;
  }

  span.createdAt {
    flex-basis: 4rem;
  }

  span.internshipActive {
    flex-basis: 3rem;
  }

}
