@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }

  .page-break
  {
    page-break-before: always;
  }
}


.internship.list.body {
  padding: $d-gutter-default;
  padding-top: 16rem;

  .loggedIn & {
    padding-top: $d-gutter-default;
  }

  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  > ul > li {
    @include staggered-entry;
    @include card-shadow(1);
    background-color: $c-white;
    margin-bottom: $d-gutter-default;

    a {
      color: inherit;
      display: block;
      text-decoration: none;
    }

    &.target {
      @include card-shadow(2);
      header {
        background-color: $c-orange;
      }
    }
  }

  header {
    text-align: center;
    background-color: $c-blue;
    color: $c-white;
    //display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    line-height: font-size(6);
    padding: $d-gutter-default;
    position: relative;
    transition: $a-duration-default color $a-timing-default,
      $a-duration-default background-color $a-timing-default,
      $a-duration-default box-shadow $a-timing-default;
    transition-delay: 250ms;

    .interested {
      @include card-shadow(1);
      border-radius: 50%;
      background-color: $c-green;
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      top: -0.75rem;
      right: -0.75rem;
      text-align: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }

  h2 {
    flex: 0 1 auto;
    margin: 0;
    padding: 0;
  }

  .date {
    flex: 0 1 auto;
    font-size: font-size(-2);
  }

  .label,
  .value {
    display: inline-block;
    margin-bottom: $d-gutter-default;
    width: 50%;
  }

  .body {
    padding: $d-gutter-default;
    display: flex;
    flex-flow: row wrap;

    > button {
      margin-right: 0;
      margin-left: auto;
    }

    .main-fields {
      align-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }
  }

  .business,
  .description {
    display: block;
    width: 100%;
  }

  .chips {
    margin-top: $d-gutter-default;
    width: 100%;
  }

  .paid {
    color: $c-white;
    background-color: $c-green;
  }

  .new {
    @include spirit-box;
    align-content: center;
    align-items: center;
    background: transparent;
    box-shadow: none;
    color: $c-gray--dark;
    display: flex;
    flex-flow: row wrap;
    height: 10rem;
    justify-content: center;
  }

  .map {
    @include card-shadow(1);
    width: 100%;
  }
}

.internship.list.filter {
  font-size: 0.8541019662rem !important;

  label,
  .Select {
    display: block;
    margin-bottom: $d-gutter-default;
    width: 100%;
  }

  label {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
  }

  input {
    width: 100%;
  }

  input[type='text'] {
    height: font-size(5);
    line-height: font-size(5);
  }

  .checkbox {
    margin-bottom: 0;
    margin-left: $d-gutter-default;
    width: 1rem;
  }
}

@include bp($b-tablet) {
  .internship.list.body {
    > ul {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      align-content: flex-start;
    }

    > ul > li {
      flex: 1 1 $d-card-max;
      margin-right: $d-gutter-default;
    }
  }
}

@include bp($b-laptop) {
  .internship.list.filter {
    display: flex;
    flex-flow: row wrap;

    div,
    .Select,
    label[for='status'],
    label[for='pickupLocation']{
      flex: 1 1 33%;
    }

    label[for='pickupDate'] {
      flex: 1 1 33%;
      //span {
      //  font-size: 0.8541019662rem !important
      //}
    }
  }

  .internship.list.body {
    display: flex;
    flex-flow: row wrap;
    padding-top: 10rem;

    .loggedIn & {
      padding-top: $d-gutter-default;
    }

    > ul {
      flex: 1 1 calc(62% - #{$d-gutter-default / 2});
      margin-right: $d-gutter-default;
    }

    .map {
      flex: 1 1 calc(38% - #{$d-gutter-default / 2});
      position: sticky;
      top: #{$d-breadcrumbs-height + $d-gutter-default};
    }
  }
}

@include bp($b-desktop) {
  .internship.list.filter {
    label[for='keyword'],
    label[for='status'],
    label[for='pickupDate'],
    label[for='pickupLocation'],
    .Select,
    input[type='button'] {
      flex: 1 1 20%;
      margin-bottom: 0;
    }
  }
}
