.internship.new.body {
  padding: $d-gutter-default;

  h2 {
    @include teal-header;
    overflow: hidden;
    max-width: $d-card-double;
    margin: 0 auto 0;
  }

  form {
    @include card-shadow(1);
    //@include card;
    @include profile-card;
    background-color: $c-white;
    max-width: $d-card-double;
    padding: $d-gutter-default;

    > label {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: $d-gutter-default;
    }

    input,
    .Select,
    .rdt {
      margin-left: $d-gutter-default;
      flex: 1 1 5rem;
      min-width: 5rem;
    }

    .rdt input {
      margin-top: 0;
      width: 100%;
    }

    textarea {
      flex: 1 1 100%;
    }

    label[for='addressParts'] fieldset {
      flex: 1 1 100%;
    }

    label[for='addressParts'] fieldset div {
      display: flex;
      flex-flow: row wrap;

      input {
        flex: 1 1 auto;
        margin-left: 0;
        margin-top: $d-gutter-default;
      }
    }

    .checkbox {
      margin-left: $d-gutter-default;
    }

    input[type='submit'],
    .form-control,
    label[for='itemType'] .Select,
    label[for='childSex'] .Select {
      flex: 1 1 100%;
      margin-left: 0;
      max-width: 100%;
    }
  }
}

@include bp($b-tablet) {
  .internship.new.body {
    form {
      display: flex;
      flex-flow: row wrap;

      input,
      .Select,
      .rdt {
        flex-basis: 100%;
        margin-left: 0;
        margin-top: 0;
        //$d-gutter-default;
      }

      > label {
        align-content: flex-start;
        align-items: flex-start;
        flex: 1 1 33%;
        padding: $d-gutter-default;
      }

      label[for='active'] {
        flex: 1 1 100%;
        align-content: center;
        align-items: center;
      }

      label[for='pickupLocation'],
      label[for='pickupDate']{
        flex: 1 1 50%;
      }
    }
  }
}
