.internship.participate {
  @include card-shadow(1);
  background-color: $c-white;
  flex: 0 1 $d-card-max;

  .interest {
    padding: $d-gutter-default;

    textarea {
      margin-bottom: $d-gutter-default;
      width: 100%;
    }
  }

  .conversation {
    padding: $d-gutter-default;
  }

  .feedback.view {
    padding: $d-gutter-default;
  }
}
