@import '{}/client/scss/components/Internship/Participate';

.internship.view.body {
  padding: $d-gutter-default;

  .overview,
  .applicants {
    max-width: $d-card-max;
  }

  .sidebar {
    max-width: $d-card-max;
  }

  .overview,
  .view.applicants,
  .business,
  .participate {
    @include card-shadow(1);
    background-color: $c-white;
    margin-bottom: $d-gutter-default;

    > h2 {
      background-color: $c-blue;
      color: $c-white;
      flex: 1 1 100%;
      line-height: font-size(6);
      margin: 0;
      padding: $d-gutter-default;
    }
  }

  .info {
    margin: 0;
    padding: $d-gutter-default;

    label {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-bottom: $d-gutter-default;
      width: 100%;
    }

    input,
    .Select,
    .rdt,
    textarea {
      width: 100%;
    }

    span {
      display: block;

      &.value {
        font-weight: bold;
      }
    }
  }

  .feedback.view {
    label[for='comment'],
    textarea,
    .rating {
      display: block;
      padding: $d-gutter-default 0;
      width: 100%;
    }
  }
}

.internship.view.business {
  .addressParts {
    width: 100%;

    > div {
      display: flex;
      flex-flow: row wrap;
    }

    input[type='text'] {
      flex: 1 1 auto;
      width: auto;
    }

    .save {
      flex: 1 1 100%;
      margin-top: $d-gutter-default;
    }
  }

  .map {
    width: 100%;
  }
}

.view.applicants {
  ul.applicants {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;

      &:not(:last-of-type) {
        border-bottom: 1px solid $c-gray;
      }
    }

    .header {
      align-content: center;
      align-items: center;
      display: flex;
      flex: 1 1 auto;
      flex-flow: nowrap;
      justify-content: flex-start;
    }

    .avatar {
      margin-right: $d-gutter-default;
    }
  }

  h2 {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    a {
      color: $c-white;
    }
  }

  .intern.view {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: $d-gutter-default;
  }

  .feedback.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .feedback {
    flex: 1 1 100%;
    margin-top: $d-gutter-default;

    h2 {
      background-color: transparent;
      color: $c-blue;
      padding: 0;
    }
  }

  .actions {
    align-content: center;
    align-items: center;
    display: flex;
    flex: 1 1 20rem;
    flex-flow: row wrap;
    justify-content: flex-end;

    button {
      margin-left: $d-gutter-default;
    }
  }

  .conversation {
    margin-top: $d-gutter-default;
  }
}

.internship.drawer {
  .content {
  }

  .actions {
    display: flex;
    flex-flow: row wrap;
  }

  label {
    display: flex;
    flex-flow: row wrap;

    flex: 1 1 100%;
    margin-bottom: $d-gutter-default;
  }

  input,
  .checkbox {
    margin-left: $d-gutter-default;
  }

  .checkbox {
    flex: 0 1 1rem;
    margin-bottom: 0;
  }

  .remove {
    margin-bottom: $d-gutter-default;
  }

  .adminActions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

@include bp($b-tablet) {
  .internship.view.body {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;

    .overview {
      max-width: $d-card-double;
      width: 100%;
    }

    .main {
      flex: 1 1 calc(62% - #{$d-gutter-default / 2});
      margin-right: $d-gutter-default;
      max-width: $d-card-double;
    }

    .sidebar {
      flex: 1 1 calc(38% - #{$d-gutter-default / 2});
    }

    .applicants {
      flex: 1 1 100%;
      max-width: $d-card-double;
    }
  }
}
