* {
  box-sizing: border-box;
}

html {
  // font-size: calc(14px + 4 * ((100vw - 420px) / 860));
  // font-size: responsive 14px 18px !important;
  font-size: 16px;
  font-weight: 100;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  @include type-scale(0);
  background-color: $c-gray;
  color: $c-black;
  font-family: sans-serif,system-ui;
  margin: 0;
  overflow-x: hidden;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  table-layout: fixed;
}

.App > .body {
  min-height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.browser-error {
  animation: fadeIn $a-duration-default forwards;
  //animation-delay: 1s;
  opacity: 0;
}

.loading {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: center;
  padding: $d-gutter-default;
  text-align: center;
  width: 100%;
}

.forbidden {
  padding: $d-gutter-default;

  > div {
    @include card-shadow(1);
    background-color: $c-white;
  }

  h2 {
    background-color: $c-blue;
    color: $c-white;
    margin: 0;
    padding: $d-gutter-default;
  }

  p {
    margin: 0;
    padding: $d-gutter-default;
  }
}
