@import '{}/client/scss/components/Organization/New';
@import '{}/client/scss/components/Organization/Card';
@import '{}/client/scss/components/Organization/Business/index';

.organization.view {
  padding: $d-gutter-default;

  > form {
    //@include staggered-entry(5);
  }

  .adminActions {
    bottom: $d-gutter-default;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    left: $d-gutter-default;
    position: fixed;
    right: $d-gutter-default;
  }
}
