.organization.new {
  padding: $d-gutter-default;

  form {
    @include profile-card;

    //input {
    //  flex: 1 1 auto;
    //}
    //
    //.sidebar {
    //  max-width: $d-card-max;
    //}
    //
    //.sidebar {
    //  margin: 0 auto;
    //  position: relative;
    //
    //  .remove {
    //    white-space: nowrap;
    //    max-width: 100%;
    //  }
    //}
  }
}
