.request.list.body {
  ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: $d-gutter-default;
    margin: 0;
  }

  li {
    @include card-shadow(1);
    max-width: $d-card-max;
    flex: 1 1 $d-card-max;
    background-color: $c-white;
    cursor: pointer;
    margin-bottom: $d-gutter-default;
  }

  .empty {
    padding: $d-gutter-default;
  }

  .data {
    padding: $d-gutter-default;
  }

  .label,
  .value {
    display: inline-block;
    margin-bottom: $d-gutter-default;
    width: 50%;
  }

  h2 {
    background-color: $c-blue;
    color: $c-white;
    padding: $d-gutter-default;
    margin: 0;
  }
}

.request.dashboard {
  .pending {
    background-color: lighten($c-blue, 10%);
  }
  .active {
    background-color: lighten($c-blue, 0%);
  }
  .complete {
    background-color: darken($c-blue, 10%);
  }
}

@include bp($b-tablet) {
  .request.list {
    li {
      flex-grow: 0;
      margin-right: $d-gutter-default;
    }
  }
}
