.request.new.body {
  @include card;
  position: relative;

  h2 {
    padding-right: 3rem;
  }

  button.close {
    position: absolute;
    line-height: #{(number(scale(0)) + 2) + 'rem'};
    height: #{(number(scale(0)) + 2) + 'rem'};
    right: 0;
    color: $c-white;
    z-index: $z-max;
    font-size: font-size(4);
  }
}

.request.new.details,
.request.new.message {
  display: flex;
  flex-flow: row wrap;
  padding: $d-gutter-default;

  label {
    flex: 1 1 100%;
    margin-bottom: $d-gutter-default;

    input,
    textarea,
    .Select {
      width: 100%;
    }
  }

  input[type='submit'] {
    margin-left: auto;
  }
}
