.request.view.body {
  padding: $d-gutter-default;

  .conversation {
    @include card-shadow(1);
    background-color: $c-white;
    margin-bottom: $d-gutter-default;
    padding: $d-gutter-default;
  }

  .feedback.view {
    @include card;
    background-color: $c-white;
  }

  .user {
    margin-bottom: $d-gutter-default;
  }
}

.request.view.data,
.request.scheduler,
.request .feedback {
  @include card;
  margin-bottom: $d-gutter-default;
}

.request.data {
  fieldset.data {
    padding: 0 $d-gutter-default $d-gutter-default;

    > div {
      padding-top: $d-gutter-default;
      width: 100%;
    }

    label {
      display: flex;
      flex-flow: row wrap;
      margin-bottom: $d-gutter-default;

      input,
      .Select {
        flex: 1 1 100%;
      }
      span:first-of-type {
        flex-basis: 10rem;
      }
      span.value {
        padding-left: $d-gutter-default;
      }
    }
  }
}

.feedback.view {
  label[for='comment'],
  .rating {
    display: block;
    padding: $d-gutter-default;
    width: 100%;
  }

  time {
    font-size: font-size(-1);
    line-height: 1em;
    margin-left: $d-gutter-default;
  }

  textarea {
    width: 100%;
  }
}

.request.subHeader {
  h3 {
    margin-top: 0;
  }

  label[for='comment'] {
    display: block;
    width: 100%;

    textarea {
      color: $c-white;
      margin-bottom: $d-gutter-default;
      width: 100%;
    }
  }

  .rating {
    font-size: font-size(7);
  }
}

.request.scheduler {
  fieldset.date {
    padding: $d-gutter-default;

    > div {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
    }

    .rdt {
      flex: 1 1 50%;

      input {
        color: $c-gray--dark;
        width: 100%;
      }
    }

    .rdtStatic {
      flex: 1 1 100%;
      margin-bottom: $d-gutter-default;
    }

    .rdtPicker {
      width: 100%;
    }
  }

  .actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: $d-gutter-default;
  }

  .cancel {
    background-color: $c-red;
  }

  .empty-warning {
    display: block;
    text-align: center;
    padding: $d-gutter-default;
    font-weight: bold;

    &:empty {
      display: none;
    }
  }
}

@include bp($b-tablet) {
  .request.view.body {
    display: flex;
    flex-flow: row wrap;

    .request.data,
    .request.search,
    .request.scheduler,
    .user,
    .feedback.view,
    .conversation {
      flex: 0 1 $d-card-max;
      margin-right: $d-gutter-default;
    }
  }
}
